@{
    ViewBag.Title = "AuditingwithEntityFramework";
}

<h1>Auditing with Entity Framework</h1>
<p>
    Tracking of changes to the data can be handled in Entity framework using Self Tracking Entities. This can be identfied by using ObjectStateManager class which has complete information of the entities and their state (Added, Modified, Deleted). We can track the changes using this ObjectStateManager. Following is the example for recording the changes.

    Create a schema in the Database for Audit as below:
</p>
<pre>
<span style='color:#800000; font-weight:bold; '>CREATE</span> <span style='color:#800000; font-weight:bold; '>TABLE</span> <span style='color:#808030; '>[</span>dbo<span style='color:#808030; '>]</span><span style='color:#808030; '>.</span><span style='color:#808030; '>[</span><span style='color:#800000; font-weight:bold; '>Audit</span><span style='color:#808030; '>]</span><span style='color:#808030; '>(</span>
<span style='color:#808030; '>[</span>AuditId<span style='color:#808030; '>]</span> <span style='color:#808030; '>[</span><span style='color:#800000; font-weight:bold; '>int</span><span style='color:#808030; '>]</span> <span style='color:#800000; font-weight:bold; '>IDENTITY</span><span style='color:#808030; '>(</span><span style='color:#008c00; '>1</span><span style='color:#808030; '>,</span><span style='color:#008c00; '>1</span><span style='color:#808030; '>)</span> <span style='color:#800000; font-weight:bold; '>NOT</span> <span style='color:#800000; font-weight:bold; '>NULL</span><span style='color:#808030; '>,</span>
<span style='color:#808030; '>[</span>ChangeDate<span style='color:#808030; '>]</span> <span style='color:#808030; '>[</span>datetime<span style='color:#808030; '>]</span> <span style='color:#800000; font-weight:bold; '>NULL</span><span style='color:#808030; '>,</span>
<span style='color:#808030; '>[</span>EntityName<span style='color:#808030; '>]</span> <span style='color:#808030; '>[</span><span style='color:#800000; font-weight:bold; '>varchar</span><span style='color:#808030; '>]</span><span style='color:#808030; '>(</span><span style='color:#008c00; '>50</span><span style='color:#808030; '>)</span> <span style='color:#800000; font-weight:bold; '>NULL</span><span style='color:#808030; '>,</span>
<span style='color:#808030; '>[</span>UserName<span style='color:#808030; '>]</span> <span style='color:#808030; '>[</span><span style='color:#800000; font-weight:bold; '>varchar</span><span style='color:#808030; '>]</span><span style='color:#808030; '>(</span><span style='color:#008c00; '>50</span><span style='color:#808030; '>)</span> <span style='color:#800000; font-weight:bold; '>NULL</span><span style='color:#808030; '>,</span>
<span style='color:#808030; '>[</span>State<span style='color:#808030; '>]</span> <span style='color:#808030; '>[</span><span style='color:#800000; font-weight:bold; '>varchar</span><span style='color:#808030; '>]</span><span style='color:#808030; '>(</span><span style='color:#008c00; '>50</span><span style='color:#808030; '>)</span> <span style='color:#800000; font-weight:bold; '>NULL</span><span style='color:#808030; '>,</span>
<span style='color:#808030; '>[</span>OldData<span style='color:#808030; '>]</span> <span style='color:#808030; '>[</span>nvarchar<span style='color:#808030; '>]</span><span style='color:#808030; '>(</span><span style='color:#008c00; '>500</span><span style='color:#808030; '>)</span> <span style='color:#800000; font-weight:bold; '>NULL</span><span style='color:#808030; '>,</span>
<span style='color:#808030; '>[</span>NewData<span style='color:#808030; '>]</span> <span style='color:#808030; '>[</span>nvarchar<span style='color:#808030; '>]</span><span style='color:#808030; '>(</span><span style='color:#008c00; '>500</span><span style='color:#808030; '>)</span> <span style='color:#800000; font-weight:bold; '>NULL</span><span style='color:#808030; '>,</span>
<span style='color:#808030; '>[</span>ChangedColumns<span style='color:#808030; '>]</span> <span style='color:#808030; '>[</span>nvarchar<span style='color:#808030; '>]</span><span style='color:#808030; '>(</span><span style='color:#008c00; '>1500</span><span style='color:#808030; '>)</span> <span style='color:#800000; font-weight:bold; '>NULL</span><span style='color:#808030; '>,</span>
<span style='color:#800000; font-weight:bold; '>CONSTRAINT</span> <span style='color:#808030; '>[</span>PK_Audit<span style='color:#808030; '>]</span> <span style='color:#800000; font-weight:bold; '>PRIMARY</span> <span style='color:#800000; font-weight:bold; '>KEY</span> <span style='color:#800000; font-weight:bold; '>CLUSTERED</span> 
<span style='color:#808030; '>(</span>
<span style='color:#808030; '>[</span>AuditId<span style='color:#808030; '>]</span> <span style='color:#800000; font-weight:bold; '>ASC</span>
<span style='color:#808030; '>)</span><span style='color:#800000; font-weight:bold; '>WITH</span> <span style='color:#808030; '>(</span>PAD_INDEX  <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>OFF</span><span style='color:#808030; '>,</span> STATISTICS_NORECOMPUTE  <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>OFF</span><span style='color:#808030; '>,</span> IGNORE_DUP_KEY <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>OFF</span><span style='color:#808030; '>,</span>
 ALLOW_ROW_LOCKS  <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>ON</span><span style='color:#808030; '>,</span> ALLOW_PAGE_LOCKS  <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>ON</span><span style='color:#808030; '>)</span> <span style='color:#800000; font-weight:bold; '>ON</span> <span style='color:#808030; '>[</span><span style='color:#800000; font-weight:bold; '>PRIMARY</span><span style='color:#808030; '>]</span>
<span style='color:#808030; '>)</span> <span style='color:#800000; font-weight:bold; '>ON</span> <span style='color:#808030; '>[</span><span style='color:#800000; font-weight:bold; '>PRIMARY</span><span style='color:#808030; '>]</span>
<span style='color:#800000; font-weight:bold; '>GO</span>
</pre>
<p>Create an application add an entity model to your application and include all your objects to the entity model. Once the model (EDMX) is created right click on the entity designer and choose Add Code Generation Item, It opens a dialog where you can choose the Code Generation strategies. Default code generation type is EntityObjectDesigner. Select Self Tracking Entities as your code generation item. It Creates two files in your solution. Model.tt, Model.Context.tt (These are called as T4 (Template Text Transformation) templates) Do Handling changes to the object Model.Context.cs file which has Initialize() method, where you need to write your handler to track changes. In Entity Framework Context.SaveChanges will be used to apply data in database. So we will create a handler for Saving Changes in Model.Context.cs so that at the time of applying data to DB changes will be captured and stored in our Audit Table.</p>
<pre>
<span style='color:#800000; font-weight:bold; '>private</span> <span style='color:#800000; font-weight:bold; '>void</span> Initialize<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span>
<span style='color:#800080; '>{</span>
<span style='color:#696969; '>// Creating proxies requires the use of the ProxyDataContractResolver and</span>
<span style='color:#696969; '>// may allow lazy loading which can expand the loaded graph during serialization.</span>
   ContextOptions<span style='color:#808030; '>.</span>ProxyCreationEnabled <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>false</span><span style='color:#800080; '>;</span>
   ObjectMaterialized <span style='color:#808030; '>+</span><span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> ObjectMaterializedEventHandler<span style='color:#808030; '>(</span>HandleObjectMaterialized<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>SavingChanges <span style='color:#808030; '>+</span><span style='color:#808030; '>=</span> SaveJournalChanges<span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>
</pre>
<p>Here we are creating an event handler named SaveJournalChanges which tracks the entity changes. We are making a new partial class with the same name as entity class. In that we are changing the save changes functionality to accomplish Audit Process.</p>
<pre>
<span style='color:#800000; font-weight:bold; '>private</span> <span style='color:#800000; font-weight:bold; '>void</span> SaveJournalChanges<span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>object</span> sender<span style='color:#808030; '>,</span> EventArgs e<span style='color:#808030; '>)</span>
<span style='color:#800080; '>{</span>
   ObjectContext context <span style='color:#808030; '>=</span> <span style='color:#808030; '>(</span>ObjectContext<span style='color:#808030; '>)</span>sender<span style='color:#800080; '>;</span>
   context<span style='color:#808030; '>.</span>DetectChanges<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>var</span> changes <span style='color:#808030; '>=</span> context<span style='color:#808030; '>.</span>ObjectStateManager<span style='color:#808030; '>.</span>GetObjectStateEntries<span style='color:#808030; '>(</span>EntityState<span style='color:#808030; '>.</span>Added | EntityState<span style='color:#808030; '>.</span>Deleted | EntityState<span style='color:#808030; '>.</span>Modified<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>foreach</span> <span style='color:#808030; '>(</span>ObjectStateEntry stateEntryEntity <span style='color:#800000; font-weight:bold; '>in</span> changes<span style='color:#808030; '>)</span>
    <span style='color:#800080; '>{</span>
        <span style='color:#800000; font-weight:bold; '>if</span> <span style='color:#808030; '>(</span><span style='color:#808030; '>!</span>stateEntryEntity<span style='color:#808030; '>.</span>IsRelationship &amp;&amp; stateEntryEntity<span style='color:#808030; '>.</span>Entity <span style='color:#808030; '>!</span><span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>null</span> &amp;&amp; <span style='color:#808030; '>!</span><span style='color:#808030; '>(</span>stateEntryEntity<span style='color:#808030; '>.</span>Entity <span style='color:#800000; font-weight:bold; '>is</span> Audit<span style='color:#808030; '>)</span><span style='color:#808030; '>)</span>
        <span style='color:#800080; '>{</span>
               DoAudit<span style='color:#808030; '>(</span>stateEntryEntity<span style='color:#808030; '>,</span> UserName<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        <span style='color:#800080; '>}</span>
    <span style='color:#800080; '>}</span>
<span style='color:#800080; '>}</span>
</pre>
<p>ObjectContext.DetectChanges detects the changes in context object.</p>
<pre>
<span style='color:#800000; font-weight:bold; '>private</span> <span style='color:#800000; font-weight:bold; '>void</span> DoAudit<span style='color:#808030; '>(</span>ObjectStateEntry entry<span style='color:#808030; '>,</span> <span style='color:#800000; font-weight:bold; '>string</span> UserName<span style='color:#808030; '>)</span>
<span style='color:#800080; '>{</span>
   AuditExampleEntities entities <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> AuditExampleEntities<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>if</span> <span style='color:#808030; '>(</span>entry<span style='color:#808030; '>.</span>State <span style='color:#808030; '>=</span><span style='color:#808030; '>=</span> EntityState<span style='color:#808030; '>.</span>Added<span style='color:#808030; '>)</span>
<span style='color:#800080; '>{</span>
                
<span style='color:#800080; '>}</span>
<span style='color:#800000; font-weight:bold; '>else</span> <span style='color:#800000; font-weight:bold; '>if</span> <span style='color:#808030; '>(</span>entry<span style='color:#808030; '>.</span>State <span style='color:#808030; '>=</span><span style='color:#808030; '>=</span> EntityState<span style='color:#808030; '>.</span>Deleted<span style='color:#808030; '>)</span>
<span style='color:#800080; '>{</span>
<span style='color:#800080; '>}</span>
<span style='color:#800000; font-weight:bold; '>else</span> <span style='color:#800000; font-weight:bold; '>if</span> <span style='color:#808030; '>(</span>entry<span style='color:#808030; '>.</span>State <span style='color:#808030; '>=</span><span style='color:#808030; '>=</span> EntityState<span style='color:#808030; '>.</span>Modified<span style='color:#808030; '>)</span>
<span style='color:#800080; '>{</span>
<span style='color:#800000; font-weight:bold; '>foreach</span> <span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>string</span> propName <span style='color:#800000; font-weight:bold; '>in</span> entry<span style='color:#808030; '>.</span>GetModifiedProperties<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span>
<span style='color:#800080; '>{</span>
        Audit audit <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> Audit<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        audit<span style='color:#808030; '>.</span>ChangeDate <span style='color:#808030; '>=</span> DateTime<span style='color:#808030; '>.</span>Now<span style='color:#800080; '>;</span>
        audit<span style='color:#808030; '>.</span>EntityName <span style='color:#808030; '>=</span> entry<span style='color:#808030; '>.</span>EntitySet<span style='color:#808030; '>.</span>Name<span style='color:#800080; '>;</span>
        audit<span style='color:#808030; '>.</span>UserName <span style='color:#808030; '>=</span> UserName<span style='color:#800080; '>;</span>
        audit<span style='color:#808030; '>.</span>OldData <span style='color:#808030; '>=</span> Convert<span style='color:#808030; '>.</span>ToString<span style='color:#808030; '>(</span>entry<span style='color:#808030; '>.</span>OriginalValues<span style='color:#808030; '>[</span>propName<span style='color:#808030; '>]</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        audit<span style='color:#808030; '>.</span>NewData <span style='color:#808030; '>=</span> Convert<span style='color:#808030; '>.</span>ToString<span style='color:#808030; '>(</span>entry<span style='color:#808030; '>.</span>CurrentValues<span style='color:#808030; '>[</span>propName<span style='color:#808030; '>]</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        audit<span style='color:#808030; '>.</span>State <span style='color:#808030; '>=</span> AuditActions<span style='color:#808030; '>.</span>Update<span style='color:#808030; '>.</span>ToString<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        audit<span style='color:#808030; '>.</span>ChangedColumns <span style='color:#808030; '>=</span> propName<span style='color:#800080; '>;</span>
        entities<span style='color:#808030; '>.</span>Audits<span style='color:#808030; '>.</span>AddObject<span style='color:#808030; '>(</span>audit<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>
     entities<span style='color:#808030; '>.</span>SaveChanges<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>
<span style='color:#800080; '>}</span>
</pre>
<p>From UI you can call Context.SaveChanges which inturn calls SaveJournalChanges method.</p>
<pre>
AuditExampleEntities entities <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> AuditExampleEntities<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>var</span> per <span style='color:#808030; '>=</span>  from c <span style='color:#800000; font-weight:bold; '>in</span> entities<span style='color:#808030; '>.</span>People 
           where c<span style='color:#808030; '>.</span>PId <span style='color:#808030; '>=</span><span style='color:#808030; '>=</span> <span style='color:#008c00; '>1</span> 
           select c<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>foreach</span> <span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>var</span> item <span style='color:#800000; font-weight:bold; '>in</span> per<span style='color:#808030; '>)</span>
<span style='color:#800080; '>{</span>
  item<span style='color:#808030; '>.</span>ChangeTracker<span style='color:#808030; '>.</span>ChangeTrackingEnabled <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>true</span><span style='color:#800080; '>;</span>
  item<span style='color:#808030; '>.</span>PersonName <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>Shekar</span><span style='color:#800000; '>"</span><span style='color:#800080; '>;</span>
  item<span style='color:#808030; '>.</span>Address <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>India</span><span style='color:#800000; '>"</span><span style='color:#800080; '>;</span>
  item<span style='color:#808030; '>.</span>Age <span style='color:#808030; '>=</span> <span style='color:#008c00; '>30</span><span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>
entities<span style='color:#808030; '>.</span>UserName <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>SampleUser</span><span style='color:#800000; '>"</span><span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>int</span> i <span style='color:#808030; '>=</span> entities<span style='color:#808030; '>.</span>SaveChanges<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>if</span> <span style='color:#808030; '>(</span>i <span style='color:#808030; '>=</span><span style='color:#808030; '>=</span> <span style='color:#008c00; '>0</span><span style='color:#808030; '>)</span>
<span style='color:#800080; '>{</span>
  Response<span style='color:#808030; '>.</span>Write<span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>Nothing has changed.</span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>
</pre>
<br />
<br />
<a class="btn btn-danger" href="https://github.com/guntidheerajkumar/AuditExample">
     Sample</a>
