
@{
    ViewBag.Title = "InheritanceWithEntityFramework";
}

<h1>Inheritance With EntityFramework</h1>
<div id="metadata" cmpgrp="page info">
    <a href="https://github.com/guntidheerajkumar" class="avatar" title="Dheeraj Kumar Gunti">
        <span class="author-name" style="background-image: url(https://github.com/guntidheerajkumar.png)" alt="Author Name"></span>
    </a>
    <div class="info">
        <span class="name"><a href="https://github.com/guntidheerajkumar">Dheeraj Kumar Gunti</a></span>
        <div class="meta">
            <p>Reading Time : <span class="eta"></span> (<span class="words"></span> words)</p>
        </div>
    </div>
</div>
<article>
    <p>Hello All, Welcome back to Knowledge Base</p>

    <p>Today we are going to know about inheritance in Entityframework.There are multiple ways of acheiveing inheritance in entity framework.</p>
    <ul>
        <li>Table Per Hierarchy (TPH)</li>
        <li>Table Per Type (TPT)</li>
    </ul>
    <p>
        In this example we will see how to implement Table Per Hierarchy Inheritance.
    </p>
    <p>
        TPH inheritance uses one database table to maintain data for all of the entity types in an inheritance hierarchy.
    </p>
    <p>
        When we are targetting different entity types which holds specific fields which are unique across entities then we can go to have this concept applied on those entities.
    </p>
    <p>Let's say we have three entities Person, Instructor and Student as below.</p>

    <img src="~/Images/InheritaneEF/Image_1.png" />
    <img src="~/Images/InheritaneEF/Image_2.png" />
    <img src="~/Images/InheritaneEF/Image_3.png" />

    <p>Here, we see we want FirstName and LastName as common properties which are important for both Instructor and Student.</p>
    <p>When we apply inheritance on the above entities, respecitive properties can be accessible in the derived classes.</p>

    <img src="~/Images/InheritaneEF/Image_4.png" />

    <p>
        So here, Person is the base class which holds FirstName and LastName Properties. Instructor and Student are derived class which has extended properties of their own where
        an Instructor will have an HireDate and for a Student he will have an enrollment date. When we create inheritance using TPH, then both the entities data will be
        stored in one table with a discriminator.
    </p>

    <p>Let's create a small project. Create three entities and specify the relationship as above. </p>
    <p>Create a DbContext and specify the DbSets.</p>

<pre><span style='color:#800000; font-weight:bold; '>public</span> <span style='color:#800000; font-weight:bold; '>class</span> SchoolContext <span style='color:#808030; '>:</span> DbContext
<span style='color:#800080; '>{</span>
    <span style='color:#800000; font-weight:bold; '>public</span> DbSet<span style='color:#808030; '>&lt;</span>Person<span style='color:#808030; '>></span> People <span style='color:#800080; '>{</span> <span style='color:#800000; font-weight:bold; '>get</span><span style='color:#800080; '>;</span> <span style='color:#800000; font-weight:bold; '>set</span><span style='color:#800080; '>;</span> <span style='color:#800080; '>}</span>
    <span style='color:#800000; font-weight:bold; '>public</span> DbSet<span style='color:#808030; '>&lt;</span>Instructor<span style='color:#808030; '>></span> Insructors <span style='color:#800080; '>{</span> <span style='color:#800000; font-weight:bold; '>get</span><span style='color:#800080; '>;</span> <span style='color:#800000; font-weight:bold; '>set</span><span style='color:#800080; '>;</span> <span style='color:#800080; '>}</span>
    <span style='color:#800000; font-weight:bold; '>public</span> DbSet<span style='color:#808030; '>&lt;</span>Student<span style='color:#808030; '>></span> Students <span style='color:#800080; '>{</span> <span style='color:#800000; font-weight:bold; '>get</span><span style='color:#800080; '>;</span> <span style='color:#800000; font-weight:bold; '>set</span><span style='color:#800080; '>;</span> <span style='color:#800080; '>}</span>
    <span style='color:#800000; font-weight:bold; '>public</span> SchoolContext<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span>
    <span style='color:#808030; '>:</span> <span style='color:#800000; font-weight:bold; '>base</span><span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>DefaultConnection</span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span>
    <span style='color:#800080; '>{</span>
    <span style='color:#800080; '>}</span>
<span style='color:#800080; '>}</span>
</pre>

    <p>Enable Migrations on the project.</p>
    <img src="~/Images/InheritaneEF/Image_5.png" />

    <p>Add Migration on the project.</p>
    <img src="~/Images/InheritaneEF/Image_6.png" />

    <p>Migrations have been created in the project.</p>
    <img src="~/Images/InheritaneEF/Image_7.png" />
    <br />
    <br />
<pre>CreateTable<span style='color:#808030; '>(</span>
    <span style='color:#800000; '>"</span><span style='color:#0000e6; '>dbo.People</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span>
                c <span style='color:#808030; '>=</span><span style='color:#808030; '>></span> <span style='color:#800000; font-weight:bold; '>new</span>
    <span style='color:#800080; '>{</span>
                            PersonId <span style='color:#808030; '>=</span> c<span style='color:#808030; '>.</span>Int<span style='color:#808030; '>(</span>nullable<span style='color:#808030; '>:</span> <span style='color:#800000; font-weight:bold; '>false</span><span style='color:#808030; '>,</span> identity<span style='color:#808030; '>:</span> <span style='color:#800000; font-weight:bold; '>true</span><span style='color:#808030; '>)</span><span style='color:#808030; '>,</span>
                            FirstName <span style='color:#808030; '>=</span> c<span style='color:#808030; '>.</span>String<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>,</span>
                            LastName <span style='color:#808030; '>=</span> c<span style='color:#808030; '>.</span>String<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>,</span>
                            HireDate <span style='color:#808030; '>=</span> c<span style='color:#808030; '>.</span>DateTime<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>,</span>
                            EnrollmentDate <span style='color:#808030; '>=</span> c<span style='color:#808030; '>.</span>DateTime<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>,</span>
                            Discriminator <span style='color:#808030; '>=</span> c<span style='color:#808030; '>.</span>String<span style='color:#808030; '>(</span>nullable<span style='color:#808030; '>:</span> <span style='color:#800000; font-weight:bold; '>false</span><span style='color:#808030; '>,</span> maxLength<span style='color:#808030; '>:</span> <span style='color:#008c00; '>128</span><span style='color:#808030; '>)</span><span style='color:#808030; '>,</span>
    <span style='color:#800080; '>}</span><span style='color:#808030; '>)</span>
<span style='color:#808030; '>.</span>PrimaryKey<span style='color:#808030; '>(</span>t <span style='color:#808030; '>=</span><span style='color:#808030; '>></span> t<span style='color:#808030; '>.</span>PersonId<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
</pre>
    <p>We can see Discriminator property added in the migration file for Person Entity. Person Entity has included properties of Instructor, Student and created a single table.</p>
    <p>Let's check the database.</p>

    <img src="~/Images/InheritaneEF/Image_8.png" />
    <br />
    <br />
    <p>
        Create Instructor Controller using Entity Framework template, Choose Instructor Model and SchoolContext. Scaffolding will be generated with all the templates.
        Run the application
    </p>

    <p>When we try to create a new Instructor, template created in such a way that FirstName, LastName are taken from base class Person and Hire Date is taken from Instructor entity.</p>
    <img src="~/Images/InheritaneEF/Image_9.png" />

    <p>Check the database, Discriminator is updated with "Instructor". </p>
    <img src="~/Images/InheritaneEF/Image_10.png" />

    <p>When we try to create a new Student, template created in such a way that FirstName, LastName are taken from base class Person and Hire Date is taken from Instructor entity.</p>
    <img src="~/Images/InheritaneEF/Image_11.png" />
    <p>Check the database, Discriminator is updated with "Student". </p>
    <img src="~/Images/InheritaneEF/Image_12.png" />
    <br />
    <br />
    <p>Note: TPH is default in Entity framework.</p>
    <br />
    <br />

    <p><a href="https://app.box.com/s/8afx6bied9fujc94612st40j8v7lh7cv" target="_blank">Click here</a> to Download the Sample</p>
</article>