@{
    ViewBag.Title = "ThankYou";
}

<br />
<br />
<br />
<br />
<br />
<br />
<div class="alert alert-info" role="alert" style="text-align:center;">Thank you for your Valuable Feedback.</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

