@{
    ViewBag.Title = "Bulleted List Grid View";
}

<h2>Bulleted List Grid View</h2>

<p>
    Following is the example to show Linked In style grid view to show contacts.
    Add a bulleted List control to the web page and specify DataTextField as FirstName and DataValueField as Id.
    Drag and drop Ajax Paging Bulleted List Extender and specify the target control id as Bulleted List control id.
    <br />
    <br />
    Create a database with following schema:
</p>
<br />
<img src="~/Images/Bulleted_1.jpg" class="img-responsive" />
<br />
<br />
Add Data to the table.
Specify data source for the bulleted list as below.
<br />
<br />
<img src="~/Images/Bulleted_2.jpg" class="img-responsive" />
<br />
<br />

<img src="~/Images/Bulleted_3.jpg" class="img-responsive" />
<br />
<br />
<p>
    Run the application. You can see the result as below.
</p>
<br /> 
<a href="https://www.box.com/s/97m99bslqpx3ejkvlfs7" class=" btn btn-danger">
     Sample</a>
