@{
    ViewBag.Title = "Custom Exceptions in CSharp";
}

<h2>Custom Exceptions in C#</h2>
<p>
    Custom Exceptions allows you to make more narrow, specific Exceptions with customized messages.
    Inherit the custom exception class with Application Exception.

    ApplicationException is thrown by a user program, not by the common language runtime. If you are designing an application that needs to create its own exceptions, derive from the ApplicationException class. ApplicationException extends Exception, but does not add new functionality. This exception is provided as means to differentiate between exceptions defined by applications versus exceptions defined by the system.
</p>
<pre>
<span style='color:#808030; '>[</span>Serializable<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>]</span>
<span style='color:#800000; font-weight:bold; '>public</span> <span style='color:#800000; font-weight:bold; '>class</span> MyException <span style='color:#808030; '>:</span> ApplicationException
    <span style='color:#800080; '>{</span>
    <span style='color:#800000; font-weight:bold; '>public</span> MyException<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span>
    <span style='color:#808030; '>:</span> <span style='color:#800000; font-weight:bold; '>base</span><span style='color:#808030; '>(</span><span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span> <span style='color:#800080; '>}</span>
    <span style='color:#800000; font-weight:bold; '>public</span> MyException<span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>string</span> message<span style='color:#808030; '>)</span>
    <span style='color:#808030; '>:</span> <span style='color:#800000; font-weight:bold; '>base</span><span style='color:#808030; '>(</span>message<span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span> <span style='color:#800080; '>}</span>
    <span style='color:#800000; font-weight:bold; '>public</span> MyException<span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>string</span> message<span style='color:#808030; '>,</span> Exception innerException<span style='color:#808030; '>)</span>
    <span style='color:#808030; '>:</span> <span style='color:#800000; font-weight:bold; '>base</span><span style='color:#808030; '>(</span>message<span style='color:#808030; '>,</span> innerException<span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span> <span style='color:#800080; '>}</span>
<span style='color:#800080; '>}</span>
</pre>
<p><u>Usage:</u></p>
<pre>
<span style='color:#800000; font-weight:bold; '>protected</span> <span style='color:#800000; font-weight:bold; '>void</span> Page_Load<span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>object</span> sender<span style='color:#808030; '>,</span> EventArgs e<span style='color:#808030; '>)</span>
<span style='color:#800080; '>{</span>
    <span style='color:#800000; font-weight:bold; '>try</span>
    <span style='color:#800080; '>{</span>
    <span style='color:#800080; '>}</span>
    <span style='color:#800000; font-weight:bold; '>catch</span> <span style='color:#808030; '>(</span>MyException ex<span style='color:#808030; '>)</span>
    <span style='color:#800080; '>{</span>
        Response<span style='color:#808030; '>.</span>Write<span style='color:#808030; '>(</span>ex<span style='color:#808030; '>.</span>ToString<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800080; '>}</span>
<span style='color:#800080; '>}</span>
</pre>
<p>Things that to be taken care when designing custom exceptions,</p>
<ul>
    <li>Derive custom exceptions from System.Exception or other common base exception classes.</li>
    <li>Custom Exceptions class need to Serializable, Exception need to be serialization so that it can be accessible across domains.</li>
</ul>