@{
    ViewBag.Title = "Encrypting Query String";
}

<h2>Encrypting Query String</h2>
<p>
    Exposing the query string value gives security issue for the application. Encrypting the query string makes application secure. Following is the process for encrypting the query string.
    <br />
    <br />
    Following is the class which encrypts and decrypts the query string.
</p>
<pre>
<span style='color:#800000; font-weight:bold; '>using</span> System<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>using</span> System<span style='color:#808030; '>.</span>Collections<span style='color:#808030; '>.</span>Generic<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>using</span> System<span style='color:#808030; '>.</span>IO<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>using</span> System<span style='color:#808030; '>.</span>Linq<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>using</span> System<span style='color:#808030; '>.</span>Security<span style='color:#808030; '>.</span>Cryptography<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>using</span> System<span style='color:#808030; '>.</span>Text<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>using</span> System<span style='color:#808030; '>.</span>Web<span style='color:#800080; '>;</span>
<br />
    <span style='color:#800000; font-weight:bold; '>public</span> <span style='color:#800000; font-weight:bold; '>class</span> EncryptedQueryString <span style='color:#808030; '>:</span> Dictionary<span style='color:#808030; '>&lt;</span><span style='color:#800000; font-weight:bold; '>string</span><span style='color:#808030; '>,</span> <span style='color:#800000; font-weight:bold; '>string</span><span style='color:#808030; '>></span>
    <span style='color:#800080; '>{</span>
        <span style='color:#696969; '>// Change the following keys to ensure uniqueness</span>
        <span style='color:#696969; '>// Must be 8 bytes</span>
        <span style='color:#800000; font-weight:bold; '>protected</span> <span style='color:#800000; font-weight:bold; '>byte</span><span style='color:#808030; '>[</span><span style='color:#808030; '>]</span> _keyBytes <span style='color:#808030; '>=</span> <span style='color:#800080; '>{</span> <span style='color:#008000; '>0x11</span><span style='color:#808030; '>,</span> <span style='color:#008000; '>0x12</span><span style='color:#808030; '>,</span> <span style='color:#008000; '>0x13</span><span style='color:#808030; '>,</span> <span style='color:#008000; '>0x14</span><span style='color:#808030; '>,</span> <span style='color:#008000; '>0x15</span><span style='color:#808030; '>,</span> <span style='color:#008000; '>0x16</span><span style='color:#808030; '>,</span> <span style='color:#008000; '>0x17</span><span style='color:#808030; '>,</span> <span style='color:#008000; '>0x18</span> <span style='color:#800080; '>}</span><span style='color:#800080; '>;</span>
        <span style='color:#696969; '>// Must be at least 8 characters</span>
        <span style='color:#800000; font-weight:bold; '>protected</span> <span style='color:#800000; font-weight:bold; '>string</span> _keyString <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>ABC12345</span><span style='color:#800000; '>"</span><span style='color:#800080; '>;</span>
        <span style='color:#696969; '>// Name for checksum value (unlikely to be used as arguments by user)</span>
        <span style='color:#800000; font-weight:bold; '>protected</span> <span style='color:#800000; font-weight:bold; '>string</span> _checksumKey <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>__$$</span><span style='color:#800000; '>"</span><span style='color:#800080; '>;</span>
        <span style='color:#696969; '>/// Creates an empty dictionary</span>
        <span style='color:#800000; font-weight:bold; '>public</span> EncryptedQueryString<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span>
        <span style='color:#800080; '>{</span>
        <span style='color:#800080; '>}</span>
        <span style='color:#696969; '>/// Creates a dictionary from the given, encrypted string</span>
        <span style='color:#800000; font-weight:bold; '>public</span> EncryptedQueryString<span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>string</span> encryptedData<span style='color:#808030; '>)</span>
        <span style='color:#800080; '>{</span>
            <span style='color:#696969; '>// Descrypt string</span>
            <span style='color:#800000; font-weight:bold; '>string</span> data <span style='color:#808030; '>=</span> Decrypt<span style='color:#808030; '>(</span>encryptedData<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
            <span style='color:#696969; '>// Parse out key/value pairs and add to dictionary</span>
            <span style='color:#800000; font-weight:bold; '>string</span> checksum <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>null</span><span style='color:#800080; '>;</span>
            <span style='color:#800000; font-weight:bold; '>string</span><span style='color:#808030; '>[</span><span style='color:#808030; '>]</span> args <span style='color:#808030; '>=</span> data<span style='color:#808030; '>.</span>Split<span style='color:#808030; '>(</span><span style='color:#0000e6; '>'&amp;'</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
            <span style='color:#800000; font-weight:bold; '>foreach</span> <span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>string</span> arg <span style='color:#800000; font-weight:bold; '>in</span> args<span style='color:#808030; '>)</span>
            <span style='color:#800080; '>{</span>
                <span style='color:#800000; font-weight:bold; '>int</span> i <span style='color:#808030; '>=</span> arg<span style='color:#808030; '>.</span>IndexOf<span style='color:#808030; '>(</span><span style='color:#0000e6; '>'='</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
                <span style='color:#800000; font-weight:bold; '>if</span> <span style='color:#808030; '>(</span>i <span style='color:#808030; '>!</span><span style='color:#808030; '>=</span> <span style='color:#808030; '>-</span><span style='color:#008c00; '>1</span><span style='color:#808030; '>)</span>
                <span style='color:#800080; '>{</span>
                    <span style='color:#800000; font-weight:bold; '>string</span> key <span style='color:#808030; '>=</span> arg<span style='color:#808030; '>.</span>Substring<span style='color:#808030; '>(</span><span style='color:#008c00; '>0</span><span style='color:#808030; '>,</span> i<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
                    <span style='color:#800000; font-weight:bold; '>string</span> value <span style='color:#808030; '>=</span> arg<span style='color:#808030; '>.</span>Substring<span style='color:#808030; '>(</span>i <span style='color:#808030; '>+</span> <span style='color:#008c00; '>1</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
                    <span style='color:#800000; font-weight:bold; '>if</span> <span style='color:#808030; '>(</span>key <span style='color:#808030; '>=</span><span style='color:#808030; '>=</span> _checksumKey<span style='color:#808030; '>)</span>
                        checksum <span style='color:#808030; '>=</span> value<span style='color:#800080; '>;</span>
                <span style='color:#800080; '>}</span>
                <span style='color:#800000; font-weight:bold; '>else</span>
                <span style='color:#800080; '>{</span>
                    <span style='color:#800000; font-weight:bold; '>base</span><span style='color:#808030; '>.</span>Add<span style='color:#808030; '>(</span>HttpUtility<span style='color:#808030; '>.</span>UrlDecode<span style='color:#808030; '>(</span>key<span style='color:#808030; '>)</span><span style='color:#808030; '>,</span> HttpUtility<span style='color:#808030; '>.</span>UrlDecode<span style='color:#808030; '>(</span>value<span style='color:#808030; '>)</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
                <span style='color:#800080; '>}</span>
            <span style='color:#800080; '>}</span>
            <span style='color:#696969; '>// Clear contents if valid checksum not found</span>
            <span style='color:#800000; font-weight:bold; '>if</span> <span style='color:#808030; '>(</span>checksum <span style='color:#808030; '>=</span><span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>null</span> || checksum <span style='color:#808030; '>!</span><span style='color:#808030; '>=</span> ComputeChecksum<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span>
                <span style='color:#800000; font-weight:bold; '>base</span><span style='color:#808030; '>.</span>Clear<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
            <span style='color:#800080; '>}</span>
        <span style='color:#800080; '>}</span>
        <br />
        <span style='color:#696969; '>/// Returns an encrypted string that contains the current dictionary</span>
        <span style='color:#800000; font-weight:bold; '>public</span> <span style='color:#800000; font-weight:bold; '>override</span> <span style='color:#800000; font-weight:bold; '>string</span> ToString<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span>
        <span style='color:#800080; '>{</span>
            <span style='color:#696969; '>// Build query string from current contents</span>
            StringBuilder content <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> StringBuilder<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
            <span style='color:#800000; font-weight:bold; '>foreach</span> <span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>string</span> key <span style='color:#800000; font-weight:bold; '>in</span> <span style='color:#800000; font-weight:bold; '>base</span><span style='color:#808030; '>.</span>Keys<span style='color:#808030; '>)</span>
            <span style='color:#800080; '>{</span>
                <span style='color:#800000; font-weight:bold; '>if</span> <span style='color:#808030; '>(</span>content<span style='color:#808030; '>.</span>Length <span style='color:#808030; '>></span> <span style='color:#008c00; '>0</span><span style='color:#808030; '>)</span>
                     content<span style='color:#808030; '>.</span>Append<span style='color:#808030; '>(</span><span style='color:#0000e6; '>'&amp;'</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
                     content<span style='color:#808030; '>.</span>AppendFormat<span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>{0}={1}</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span> HttpUtility<span style='color:#808030; '>.</span>UrlEncode<span style='color:#808030; '>(</span>key<span style='color:#808030; '>)</span><span style='color:#808030; '>,</span>
                     HttpUtility<span style='color:#808030; '>.</span>UrlEncode<span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>base</span><span style='color:#808030; '>[</span>key<span style='color:#808030; '>]</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
                <span style='color:#800080; '>}</span>
            <span style='color:#696969; '>// Add checksum</span>
            <span style='color:#800000; font-weight:bold; '>if</span> <span style='color:#808030; '>(</span>content<span style='color:#808030; '>.</span>Length <span style='color:#808030; '>></span> <span style='color:#008c00; '>0</span><span style='color:#808030; '>)</span>
                content<span style='color:#808030; '>.</span>Append<span style='color:#808030; '>(</span><span style='color:#0000e6; '>'&amp;'</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
                content<span style='color:#808030; '>.</span>AppendFormat<span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>{0}={1}</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span> _checksumKey<span style='color:#808030; '>,</span> ComputeChecksum<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
            <span style='color:#800000; font-weight:bold; '>return</span> Encrypt<span style='color:#808030; '>(</span>content<span style='color:#808030; '>.</span>ToString<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        <span style='color:#800080; '>}</span>
        <br />
        <span style='color:#696969; '>/// Returns a simple checksum for all keys and values in the collection</span>
        <span style='color:#800000; font-weight:bold; '>protected</span> <span style='color:#800000; font-weight:bold; '>string</span> ComputeChecksum<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span>
        <span style='color:#800080; '>{</span>
            <span style='color:#800000; font-weight:bold; '>int</span> checksum <span style='color:#808030; '>=</span> <span style='color:#008c00; '>0</span><span style='color:#800080; '>;</span>
            <span style='color:#800000; font-weight:bold; '>foreach</span> <span style='color:#808030; '>(</span>KeyValuePair pair <span style='color:#800000; font-weight:bold; '>in</span> <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>)</span>
            <span style='color:#800080; '>{</span>
                checksum <span style='color:#808030; '>+</span><span style='color:#808030; '>=</span> pair<span style='color:#808030; '>.</span>Key<span style='color:#808030; '>.</span>Sum<span style='color:#808030; '>(</span>c <span style='color:#808030; '>=</span><span style='color:#808030; '>></span> c <span style='color:#808030; '>-</span> <span style='color:#0000e6; '>'0'</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
                checksum <span style='color:#808030; '>+</span><span style='color:#808030; '>=</span> pair<span style='color:#808030; '>.</span>Value<span style='color:#808030; '>.</span>Sum<span style='color:#808030; '>(</span>c <span style='color:#808030; '>=</span><span style='color:#808030; '>></span> c <span style='color:#808030; '>-</span> <span style='color:#0000e6; '>'0'</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
            <span style='color:#800080; '>}</span>
            <span style='color:#800000; font-weight:bold; '>return</span> checksum<span style='color:#808030; '>.</span>ToString<span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>X</span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        <span style='color:#800080; '>}</span>
        <br />
        <span style='color:#696969; '>/// Encrypts the given text</span>
        <span style='color:#800000; font-weight:bold; '>protected</span> <span style='color:#800000; font-weight:bold; '>string</span> Encrypt<span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>string</span> text<span style='color:#808030; '>)</span>
        <span style='color:#800080; '>{</span>
            <span style='color:#800000; font-weight:bold; '>try</span>
            <span style='color:#800080; '>{</span>
                <span style='color:#800000; font-weight:bold; '>byte</span><span style='color:#808030; '>[</span><span style='color:#808030; '>]</span> keyData <span style='color:#808030; '>=</span> Encoding<span style='color:#808030; '>.</span>UTF8<span style='color:#808030; '>.</span>GetBytes<span style='color:#808030; '>(</span>_keyString<span style='color:#808030; '>.</span>Substring<span style='color:#808030; '>(</span><span style='color:#008c00; '>0</span><span style='color:#808030; '>,</span> <span style='color:#008c00; '>8</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
                DESCryptoServiceProvider des <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> DESCryptoServiceProvider<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
                <span style='color:#800000; font-weight:bold; '>byte</span><span style='color:#808030; '>[</span><span style='color:#808030; '>]</span> textData <span style='color:#808030; '>=</span> Encoding<span style='color:#808030; '>.</span>UTF8<span style='color:#808030; '>.</span>GetBytes<span style='color:#808030; '>(</span>text<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
                MemoryStream ms <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> MemoryStream<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
                CryptoStream cs <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> CryptoStream<span style='color:#808030; '>(</span>ms<span style='color:#808030; '>,</span>
                des<span style='color:#808030; '>.</span>CreateEncryptor<span style='color:#808030; '>(</span>keyData<span style='color:#808030; '>,</span> _keyBytes<span style='color:#808030; '>)</span><span style='color:#808030; '>,</span> CryptoStreamMode<span style='color:#808030; '>.</span>Write<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
                cs<span style='color:#808030; '>.</span>Write<span style='color:#808030; '>(</span>textData<span style='color:#808030; '>,</span> <span style='color:#008c00; '>0</span><span style='color:#808030; '>,</span> textData<span style='color:#808030; '>.</span>Length<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
                cs<span style='color:#808030; '>.</span>FlushFinalBlock<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
            <span style='color:#800000; font-weight:bold; '>return</span> GetString<span style='color:#808030; '>(</span>ms<span style='color:#808030; '>.</span>ToArray<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
            <span style='color:#800080; '>}</span>
            <span style='color:#800000; font-weight:bold; '>catch</span> <span style='color:#808030; '>(</span>Exception<span style='color:#808030; '>)</span>
            <span style='color:#800080; '>{</span>
                <span style='color:#800000; font-weight:bold; '>return</span> String<span style='color:#808030; '>.</span>Empty<span style='color:#800080; '>;</span>
            <span style='color:#800080; '>}</span>
        <span style='color:#800080; '>}</span>
            <br />
        <span style='color:#696969; '>/// Decrypts the given encrypted text</span>
        <span style='color:#800000; font-weight:bold; '>protected</span> <span style='color:#800000; font-weight:bold; '>string</span> Decrypt<span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>string</span> text<span style='color:#808030; '>)</span>
        <span style='color:#800080; '>{</span>
        <span style='color:#800000; font-weight:bold; '>try</span>
            <span style='color:#800080; '>{</span>
                <span style='color:#800000; font-weight:bold; '>byte</span><span style='color:#808030; '>[</span><span style='color:#808030; '>]</span> keyData <span style='color:#808030; '>=</span> Encoding<span style='color:#808030; '>.</span>UTF8<span style='color:#808030; '>.</span>GetBytes<span style='color:#808030; '>(</span>_keyString<span style='color:#808030; '>.</span>Substring<span style='color:#808030; '>(</span><span style='color:#008c00; '>0</span><span style='color:#808030; '>,</span> <span style='color:#008c00; '>8</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
                DESCryptoServiceProvider des <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> DESCryptoServiceProvider<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
                <span style='color:#800000; font-weight:bold; '>byte</span><span style='color:#808030; '>[</span><span style='color:#808030; '>]</span> textData <span style='color:#808030; '>=</span> GetBytes<span style='color:#808030; '>(</span>text<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
                MemoryStream ms <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> MemoryStream<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
                CryptoStream cs <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> CryptoStream<span style='color:#808030; '>(</span>ms<span style='color:#808030; '>,</span>
                des<span style='color:#808030; '>.</span>CreateDecryptor<span style='color:#808030; '>(</span>keyData<span style='color:#808030; '>,</span> _keyBytes<span style='color:#808030; '>)</span><span style='color:#808030; '>,</span> CryptoStreamMode<span style='color:#808030; '>.</span>Write<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
                cs<span style='color:#808030; '>.</span>Write<span style='color:#808030; '>(</span>textData<span style='color:#808030; '>,</span> <span style='color:#008c00; '>0</span><span style='color:#808030; '>,</span> textData<span style='color:#808030; '>.</span>Length<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
                cs<span style='color:#808030; '>.</span>FlushFinalBlock<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
                <span style='color:#800000; font-weight:bold; '>return</span> Encoding<span style='color:#808030; '>.</span>UTF8<span style='color:#808030; '>.</span>GetString<span style='color:#808030; '>(</span>ms<span style='color:#808030; '>.</span>ToArray<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
            <span style='color:#800080; '>}</span>
            <span style='color:#800000; font-weight:bold; '>catch</span> <span style='color:#808030; '>(</span>Exception<span style='color:#808030; '>)</span>
            <span style='color:#800080; '>{</span>
                <span style='color:#800000; font-weight:bold; '>return</span> String<span style='color:#808030; '>.</span>Empty<span style='color:#800080; '>;</span>
            <span style='color:#800080; '>}</span>
        <span style='color:#800080; '>}</span>
        <br />
        <span style='color:#696969; '>/// Converts a byte array to a string of hex characters</span>
        <span style='color:#800000; font-weight:bold; '>protected</span> <span style='color:#800000; font-weight:bold; '>string</span> GetString<span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>byte</span><span style='color:#808030; '>[</span><span style='color:#808030; '>]</span> data<span style='color:#808030; '>)</span>
        <span style='color:#800080; '>{</span>
                 StringBuilder results <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> StringBuilder<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        <span style='color:#800000; font-weight:bold; '>foreach</span> <span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>byte</span> b <span style='color:#800000; font-weight:bold; '>in</span> data<span style='color:#808030; '>)</span>
                 results<span style='color:#808030; '>.</span>Append<span style='color:#808030; '>(</span>b<span style='color:#808030; '>.</span>ToString<span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>X2</span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        <span style='color:#800000; font-weight:bold; '>return</span> results<span style='color:#808030; '>.</span>ToString<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        <span style='color:#800080; '>}</span>
        <br />
        <span style='color:#696969; '>/// Converts a string of hex characters to a byte array</span>
        <span style='color:#800000; font-weight:bold; '>protected</span> <span style='color:#800000; font-weight:bold; '>byte</span><span style='color:#808030; '>[</span><span style='color:#808030; '>]</span> GetBytes<span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>string</span> data<span style='color:#808030; '>)</span>
            <span style='color:#800080; '>{</span>
            <span style='color:#696969; '>// GetString() encodes the hex-numbers with two digits</span>
            <span style='color:#800000; font-weight:bold; '>byte</span><span style='color:#808030; '>[</span><span style='color:#808030; '>]</span> results <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> <span style='color:#800000; font-weight:bold; '>byte</span><span style='color:#808030; '>[</span>data<span style='color:#808030; '>.</span>Length <span style='color:#808030; '>/</span> <span style='color:#008c00; '>2</span><span style='color:#808030; '>]</span><span style='color:#800080; '>;</span>
            <span style='color:#800000; font-weight:bold; '>for</span> <span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>int</span> i <span style='color:#808030; '>=</span> <span style='color:#008c00; '>0</span><span style='color:#800080; '>;</span> i <span style='color:#808030; '>&lt;</span> data<span style='color:#808030; '>.</span>Length<span style='color:#800080; '>;</span> i <span style='color:#808030; '>+</span><span style='color:#808030; '>=</span> <span style='color:#008c00; '>2</span><span style='color:#808030; '>)</span>
                     results<span style='color:#808030; '>[</span>i <span style='color:#808030; '>/</span> <span style='color:#008c00; '>2</span><span style='color:#808030; '>]</span> <span style='color:#808030; '>=</span> Convert<span style='color:#808030; '>.</span>ToByte<span style='color:#808030; '>(</span>data<span style='color:#808030; '>.</span>Substring<span style='color:#808030; '>(</span>i<span style='color:#808030; '>,</span> <span style='color:#008c00; '>2</span><span style='color:#808030; '>)</span><span style='color:#808030; '>,</span> <span style='color:#008c00; '>16</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
            <span style='color:#800000; font-weight:bold; '>return</span> results<span style='color:#800080; '>;</span>
        <span style='color:#800080; '>}</span>
<span style='color:#800080; '>}</span>
</pre>
<p>Add two web forms to the web application.
</p>
<ul>
<li>Page1.aspx
<br />
    <img src="~/Images/encrypting_webconfig_1.png" class="img-responsive" />
</li>
<li>Page2.aspx
<br />
    <img src="~/Images/encrypting_webconfig_2.png" class="img-responsive" />
    </li>
</ul>
<p>Encrypted Query string looks like below
</p>
<img src="~/Images/encrypting_webconfig_3.png" class="img-responsive" />