@{
    ViewBag.Title = "Exporting GridView to PDF EXCEL WORD";
}

<h2>Exporting GridView to PDF EXCEL WORD</h2>
<p>Following is the code for exporting ASP.net grid view to Excel,PDF and Word.</p>
<p><u>Excel</u></p>
<pre>
<span style='color:#800000; font-weight:bold; '>string</span> attachment <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>attachment; filename=Export.xls</span><span style='color:#800000; '>"</span><span style='color:#800080; '>;</span>
Response<span style='color:#808030; '>.</span>ClearContent<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
Response<span style='color:#808030; '>.</span>AddHeader<span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>content-disposition</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span> attachment<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
Response<span style='color:#808030; '>.</span>ContentType <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>application/ms-excel</span><span style='color:#800000; '>"</span><span style='color:#800080; '>;</span>
StringWriter sw <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> StringWriter<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
HtmlTextWriter htw <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> HtmlTextWriter<span style='color:#808030; '>(</span>sw<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
HtmlForm frm <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> HtmlForm<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
GrdView<span style='color:#808030; '>.</span>Parent<span style='color:#808030; '>.</span>Controls<span style='color:#808030; '>.</span>Add<span style='color:#808030; '>(</span>frm<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
frm<span style='color:#808030; '>.</span>Attributes<span style='color:#808030; '>[</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>runat</span><span style='color:#800000; '>"</span><span style='color:#808030; '>]</span> <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>server</span><span style='color:#800000; '>"</span><span style='color:#800080; '>;</span>
frm<span style='color:#808030; '>.</span>Controls<span style='color:#808030; '>.</span>Add<span style='color:#808030; '>(</span>GrdView<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
frm<span style='color:#808030; '>.</span>RenderControl<span style='color:#808030; '>(</span>htw<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
Response<span style='color:#808030; '>.</span>Write<span style='color:#808030; '>(</span>sw<span style='color:#808030; '>.</span>ToString<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
Response<span style='color:#808030; '>.</span>End<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
</pre>
<p><u>PDF</u></p>
<pre>
Response<span style='color:#808030; '>.</span>ContentType <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>application/pdf</span><span style='color:#800000; '>"</span><span style='color:#800080; '>;</span>
 Response<span style='color:#808030; '>.</span>AddHeader<span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>content-disposition</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>attachment;filename=Export.pdf</span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
 Response<span style='color:#808030; '>.</span>Cache<span style='color:#808030; '>.</span>SetCacheability<span style='color:#808030; '>(</span>HttpCacheability<span style='color:#808030; '>.</span>NoCache<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
 StringWriter sw <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> StringWriter<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
 HtmlTextWriter hw <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> HtmlTextWriter<span style='color:#808030; '>(</span>sw<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
 HtmlForm frm <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> HtmlForm<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
 GrdView<span style='color:#808030; '>.</span>Parent<span style='color:#808030; '>.</span>Controls<span style='color:#808030; '>.</span>Add<span style='color:#808030; '>(</span>frm<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
 frm<span style='color:#808030; '>.</span>Attributes<span style='color:#808030; '>[</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>runat</span><span style='color:#800000; '>"</span><span style='color:#808030; '>]</span> <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>server</span><span style='color:#800000; '>"</span><span style='color:#800080; '>;</span>
 frm<span style='color:#808030; '>.</span>Controls<span style='color:#808030; '>.</span>Add<span style='color:#808030; '>(</span>GrdView<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
 frm<span style='color:#808030; '>.</span>RenderControl<span style='color:#808030; '>(</span>hw<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
 StringReader sr <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> StringReader<span style='color:#808030; '>(</span>sw<span style='color:#808030; '>.</span>ToString<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
 Document pdfDoc <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> Document<span style='color:#808030; '>(</span>PageSize<span style='color:#808030; '>.</span>A4<span style='color:#808030; '>,</span> 30f<span style='color:#808030; '>,</span> 30f<span style='color:#808030; '>,</span> 20f<span style='color:#808030; '>,</span> 20f<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
 pdfDoc<span style='color:#808030; '>.</span>SetMargins<span style='color:#808030; '>(</span>40f<span style='color:#808030; '>,</span> 40f<span style='color:#808030; '>,</span> 40f<span style='color:#808030; '>,</span> 40f<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
 HTMLWorker htmlparser <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> HTMLWorker<span style='color:#808030; '>(</span>pdfDoc<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
 PdfWriter<span style='color:#808030; '>.</span>GetInstance<span style='color:#808030; '>(</span>pdfDoc<span style='color:#808030; '>,</span> Response<span style='color:#808030; '>.</span>OutputStream<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
 pdfDoc<span style='color:#808030; '>.</span>Open<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
 htmlparser<span style='color:#808030; '>.</span>Parse<span style='color:#808030; '>(</span>sr<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
 pdfDoc<span style='color:#808030; '>.</span>Close<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
 Response<span style='color:#808030; '>.</span>Write<span style='color:#808030; '>(</span>pdfDoc<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
 Response<span style='color:#808030; '>.</span>End<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
</pre>
<p><u>Word</u></p>
<pre>
Response<span style='color:#808030; '>.</span>AddHeader<span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>content-disposition</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>attachment;filename=Export.doc</span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
 Response<span style='color:#808030; '>.</span>Cache<span style='color:#808030; '>.</span>SetCacheability<span style='color:#808030; '>(</span>HttpCacheability<span style='color:#808030; '>.</span>NoCache<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
 Response<span style='color:#808030; '>.</span>ContentType <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>application/vnd.word</span><span style='color:#800000; '>"</span><span style='color:#800080; '>;</span>
 StringWriter stringWrite <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> StringWriter<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
 HtmlTextWriter htmlWrite <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> HtmlTextWriter<span style='color:#808030; '>(</span>stringWrite<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
 HtmlForm frm <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> HtmlForm<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
 GrdView<span style='color:#808030; '>.</span>Parent<span style='color:#808030; '>.</span>Controls<span style='color:#808030; '>.</span>Add<span style='color:#808030; '>(</span>frm<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
 frm<span style='color:#808030; '>.</span>Attributes<span style='color:#808030; '>[</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>runat</span><span style='color:#800000; '>"</span><span style='color:#808030; '>]</span> <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>server</span><span style='color:#800000; '>"</span><span style='color:#800080; '>;</span>
 frm<span style='color:#808030; '>.</span>Controls<span style='color:#808030; '>.</span>Add<span style='color:#808030; '>(</span>GrdView<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
 frm<span style='color:#808030; '>.</span>RenderControl<span style='color:#808030; '>(</span>htmlWrite<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
 Response<span style='color:#808030; '>.</span>Write<span style='color:#808030; '>(</span>stringWrite<span style='color:#808030; '>.</span>ToString<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
 Response<span style='color:#808030; '>.</span>End<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
</pre>
<br />
<a href="https://www.box.com/s/hq67vg1z5fezi7igofcg" class="btn btn-danger">
     Sample</a>
