@{
    ViewBag.Title = "Generate Word Document in .NET";
}

<h2>Generate Word Document in .NET</h2>
<p>Following is the code to generate a word document on the fly. I have specified same text in the document. You can modify based on your need.</p>
<pre>
HttpContext<span style='color:#808030; '>.</span>Response<span style='color:#808030; '>.</span>Clear<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
HttpContext<span style='color:#808030; '>.</span>Response<span style='color:#808030; '>.</span>Charset <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#800000; '>"</span><span style='color:#800080; '>;</span>
HttpContext<span style='color:#808030; '>.</span>Response<span style='color:#808030; '>.</span>ContentType <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>application/msword</span><span style='color:#800000; '>"</span><span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>string</span> strFileName <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>GenerateDocument</span><span style='color:#800000; '>"</span> <span style='color:#808030; '>+</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>.doc</span><span style='color:#800000; '>"</span><span style='color:#800080; '>;</span>
HttpContext<span style='color:#808030; '>.</span>Response<span style='color:#808030; '>.</span>AddHeader<span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>Content-Disposition</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>inline;filename=</span><span style='color:#800000; '>"</span> <span style='color:#808030; '>+</span> strFileName<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
StringBuilder strHTMLContent <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> StringBuilder<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
strHTMLContent<span style='color:#808030; '>.</span>Append<span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>Sample Document  &lt;br>&lt;br></span><span style='color:#800000; '>"</span><span style='color:#808030; '>.</span>ToString<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
strHTMLContent<span style='color:#808030; '>.</span>Append<span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '> Note : This is adynamically generated word document   </span><span style='color:#800000; '>"</span><span style='color:#808030; '>.</span>ToString<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
HttpContext<span style='color:#808030; '>.</span>Response<span style='color:#808030; '>.</span>Write<span style='color:#808030; '>(</span>strHTMLContent<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
HttpContext<span style='color:#808030; '>.</span>Response<span style='color:#808030; '>.</span>End<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
HttpContext<span style='color:#808030; '>.</span>Response<span style='color:#808030; '>.</span>Flush<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
</pre>
