@{
    ViewBag.Title = "Creating WCF Service Application";
}

<h1>Creating WCF Service Application</h1>
<div id="metadata" cmpgrp="page info">
    <a href="https://github.com/guntidheerajkumar" class="avatar" title="Dheeraj Kumar Gunti">
        <span class="author-name" style="background-image: url('../../Images/avatar.png')" alt="Author Name"></span>
    </a>
    <div class="info">
        <span class="name"><a href="https://github.com/guntidheerajkumar">Dheeraj Kumar Gunti</a></span>
        <div class="meta">
            <p>Reading Time : <span class="eta"></span> (<span class="words"></span> words)</p>
        </div>
    </div>
</div>
<article>
    <p>Following is the sample application for creating a WCF Service.</p>

    <ul>
        <li>
            Create new WCF Service application from add new templates in visual studio
        </li>
        <li>Template will create default file structure to the solution. Delete the .svc file and IService file. So that we will create the application from scratch.</li>
        <li> For manipulating with data in our service application, we added a database to our application and creating a sample table.</li>
        <li>We are using Linq to SQL as the context for fetching the data.</li>
        <li>Add Linq to SQL classes to the solution.</li>
        <li>Drag and drop the table to dbml designer.</li>
        <li>Add WCF Service to the service application.</li>
        <li>Create an interface with the following method declartion.</li>
        <li>Service contract and operation contract attribute come on importing System.Runtime.Serialization namespace.</li>
        <li> After creating IMySerivce, we will implement this interface into our service.</li>
        <li> Inherit the interface on to MyService class and implement the interface in to the class.</li>
        <li> After implementing the interface to the class, we need to extend the method to return list of person data. Default structure forms as below,</li>
        <li>Create the object for SamplePersonModelContext to access the person data .</li>
        <li>Once you run the service. WCF Client will be displayed which include the IMyService interface and GetPersonData method.</li>
        <li>Click on the GetPersonData method, GetPersonData method Request and Response will be shown. Click on invoke to send request to the service for fetching the person data.</li>
    </ul>
    <img src="~/Images/WCF_1/1.jpg" class="img-responsive" />
    <br />
    <br />
    <img src="~/Images/WCF_1/2.jpg" class="img-responsive" />
    <br />
    <br />
    <img src="~/Images/WCF_1/3.jpg" class="img-responsive" />
    <br />
    <br />
    <img src="~/Images/WCF_1/4.jpg" class="img-responsive" />
    <br />
    <br />
    <img src="~/Images/WCF_1/5.jpg" class="img-responsive" />
    <br />
    <br />
    <img src="~/Images/WCF_1/6.jpg" class="img-responsive" />
    <br />
    <br />
    <img src="~/Images/WCF_1/7.jpg" class="img-responsive" />
    <br />
    <br />
    <img src="~/Images/WCF_1/8.jpg" class="img-responsive" />
    <br />
    <br />
    <img src="~/Images/WCF_1/9.jpg" class="img-responsive" />
    <br />
    <br />
    <img src="~/Images/WCF_1/10.jpg" class="img-responsive" />
    <br />
    <br />
    <img src="~/Images/WCF_1/11.jpg" class="img-responsive" />
    <br />
    <br />
    <b>Consuming the WCF Service to the web application:</b>
    <br />
    <ul>
        <li>Create a sample web application and right click on the project and choose Add Service Reference to add the service.</li>
        <li>Specify the end point of the service and click on Go.</li>
        <li>In the services section, MyService will be displayed which is the service we created.</li>
        <li> In the operations section, GetPersonData will be displayed.</li>
        <li> Specify the meaningful namespace for the service reference and click on ok.</li>
        <li> Service reference will be added to the application.</li>
        <li>Create an object for the service client to access the operations of the service.</li>
        <li>When you run the application, request will be invoked to the service and response will be binded to the grid control in the form.</li>
    </ul>
    <br />
    <img src="~/Images/WCF_1/12.jpg" class="img-responsive" />
    <br /><br />
    <img src="~/Images/WCF_1/13.jpg" class="img-responsive" />
    <br /><br />
    <img src="~/Images/WCF_1/14.jpg" class="img-responsive" />
    <br /><br />
    <img src="~/Images/WCF_1/15.jpg" class="img-responsive" />
    <br /><br />
    <img src="~/Images/WCF_1/16.jpg" class="img-responsive" />
    <br /><br />
    <a href="https://www.box.com/s/a9e7e35cbee5b771def7" class="btn btn-danger">
        Sample WCF Service
    </a>
    <a href="https://www.box.com/s/e5fcddd9aad657ad4bde" class="btn btn-danger">
        Sample Web Application
    </a>
    </article>