@{
    ViewBag.Title = "Creating XSD and XML in .NET";
}

<h1>Creating XSD and XML in .NET</h1>
<p>Following is the code for creating an Xml Schema and based on that creating XML.</p>
<br />
<script src="https://gist.github.com/guntidheerajkumar/ae064289228cc5effbeda72da2253c98.js"></script>