@{
    ViewBag.Title = "Creating XSD and XML in .NET";
}

<h1>Creating XSD and XML in .NET</h1>
<div id="metadata" cmpgrp="page info">
    <a href="https://github.com/guntidheerajkumar" class="avatar" title="Dheeraj Kumar Gunti">
        <span class="author-name" style="background-image: url(https://github.com/guntidheerajkumar.png)" alt="Author Name"></span>
    </a>
    <div class="info">
        <span class="name"><a href="https://github.com/guntidheerajkumar">Dheeraj Kumar Gunti</a></span>
        <div class="meta">
            <p>Reading Time : <span class="eta"></span> (<span class="words"></span> words)</p>
        </div>
    </div>
</div>
<article>
    <p>Following is the code for creating an Xml Schema and based on that creating XML.</p>
    <br />
    <script src="https://gist.github.com/guntidheerajkumar/ae064289228cc5effbeda72da2253c98.js"></script>
    </article>
