@{
    ViewBag.Title = "Creating Alert Control in ASP.NET";
}

<h1>Creating Alert Control in ASP.NET</h1>
<div id="metadata" cmpgrp="page info">
    <a href="https://github.com/guntidheerajkumar" class="avatar" title="Dheeraj Kumar Gunti">
        <span class="author-name" style="background-image: url('../../Images/avatar.png')" alt="Author Name"></span>
    </a>
    <div class="info">
        <span class="name"><a href="https://github.com/guntidheerajkumar">Dheeraj Kumar Gunti</a></span>
        <div class="meta">
            <p>Reading Time : <span class="eta"></span> (<span class="words"></span> words)</p>
        </div>
    </div>
</div>
<article>
    <p>
        Following is the process for creating Alert Control in ASP.NET
        <br />
        Step 1: Add Web User Control to your web application.
    </p>
    <br />
    <img src="~/Images/alert_control_1.jpg" class="img-responsive" />
    <br />
    <br />
    <p>Step 2: Add css for the web user control</p>
    <script src="https://gist.github.com/guntidheerajkumar/9e3192171653217c671fcfaf1277e162.js"></script>
    <p>Step 3: Create following methods for accessing alert control</p>
    <script src="https://gist.github.com/guntidheerajkumar/3d2db0f8cca2bd25645206bf4d298038.js"></script>
    <p>
        Step 4: Add a web page for accessing the alert control<br />
        Step 5: Following is the code to access the control.
    </p>
<pre>
MessageBox<span style='color:#808030; '>.</span>SetMessage<span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>An example of an error message!</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span> MessageboxControl<span style='color:#808030; '>.</span>MessageType<span style='color:#808030; '>.</span>Warning<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
</pre>
    <p>
        Output will be show as below:
    </p>
    <p>
        For Warning - MessageboxControl.MessageType.Warning
    </p>
    <img src="~/Images/alert_control_2.jpg" class="img-responsive" />
    <br />
    <p>
        For Success - MessageboxControl.MessageType.Warning
    </p>
    <img src="~/Images/alert_control_3.jpg" class="img-responsive" />
    <br />
    <p>
        For Error - MessageboxControl.MessageType.Warning

    </p>
    <img src="~/Images/alert_control_4.jpg" class="img-responsive" />
    <br /><br />
    <a href="https://www.box.com/s/e5ce20add571beae8a21" class="btn btn-danger">
        Sample
    </a>
    </article>