@{
    ViewBag.Title = "Encrypting Query String";
}

<h1>Encrypting Query String</h1>
<div id="metadata" cmpgrp="page info">
    <a href="https://github.com/guntidheerajkumar" class="avatar" title="Dheeraj Kumar Gunti">
        <span class="author-name" style="background-image: url(https://github.com/guntidheerajkumar.png)" alt="Author Name"></span>
    </a>
    <div class="info">
        <span class="name"><a href="https://github.com/guntidheerajkumar">Dheeraj Kumar Gunti</a></span>
        <div class="meta">
            <p>Reading Time : <span class="eta"></span> (<span class="words"></span> words)</p>
        </div>
    </div>
</div>
<article>
    <p>
        Exposing the query string value gives security issue for the application. Encrypting the query string makes application secure. Following is the process for encrypting the query string.
        <br />
        <br />
        Following is the class which encrypts and decrypts the query string.
    </p>
    <script src="https://gist.github.com/guntidheerajkumar/34b49919ff9a219983d6a7edfd344593.js"></script>
    <p>
        Add two web forms to the web application.
    </p>
    <ul>
        <li>
            Page1.aspx
            <br />
            <img src="~/Images/encrypting_webconfig_1.png" class="img-responsive" />
        </li>
        <li>
            Page2.aspx
            <br />
            <img src="~/Images/encrypting_webconfig_2.png" class="img-responsive" />
        </li>
    </ul>
    <p>
        Encrypted Query string looks like below
    </p>
    <img src="~/Images/encrypting_webconfig_3.png" class="img-responsive" />
    </article>