@{
    ViewBag.Title = "Exporting GridView to PDF EXCEL WORD";
}

<h1>Exporting GridView to PDF EXCEL WORD</h1>
<div id="metadata" cmpgrp="page info">
    <a href="https://github.com/guntidheerajkumar" class="avatar" title="Dheeraj Kumar Gunti">
        <span class="author-name" style="background-image: url(https://github.com/guntidheerajkumar.png)" alt="Author Name"></span>
    </a>
    <div class="info">
        <span class="name"><a href="https://github.com/guntidheerajkumar">Dheeraj Kumar Gunti</a></span>
        <div class="meta">
            <p>Reading Time : <span class="eta"></span> (<span class="words"></span> words)</p>
        </div>
    </div>
</div>
<article>
    <p>Following is the code for exporting ASP.net grid view to Excel,PDF and Word.</p>
    <p><u>Excel</u></p>
    <script src="https://gist.github.com/guntidheerajkumar/a87d877ca361f8d39a54dd9b213fd0d4.js"></script>
    <p><u>PDF</u></p>
    <script src="https://gist.github.com/guntidheerajkumar/00dbd18918d7c8458a8a64b94f8b1e60.js"></script>
    <p><u>Word</u></p>
    <script src="https://gist.github.com/guntidheerajkumar/7d4e0bfad195e2940c7a0dcdc8611db7.js"></script>
    <br />
    <a href="https://www.box.com/s/hq67vg1z5fezi7igofcg" class="btn btn-danger">
        Sample
    </a>
    </article>