@{
    ViewBag.Title = "Generate Word Document in .NET";
}

<h1>Generate Word Document in .NET</h1>
<p>Following is the code to generate a word document on the fly. I have specified same text in the document. You can modify based on your need.</p>
<script src="https://gist.github.com/guntidheerajkumar/5bb6f763567f7a11c79412f724391889.js"></script>
