
@{
    ViewBag.Title = "GeneratingUniqueKeysandRandomPasswords";
}

<h1>Generating Unique Keys and Random Passwords</h1>

<p>Following is the code used to generate unique key :</p>
<script src="https://gist.github.com/guntidheerajkumar/2822b3b1d6fd5ef7abd65ca839bc2f36.js"></script>

<p>Following is the code used to generate random password :</p>
<script src="https://gist.github.com/guntidheerajkumar/f2cd22be905e5057a098ba29fc524a7f.js"></script>

<br />
<p>Happy Coding....</p>