
@{
    ViewBag.Title = "GeneratingUniqueKeysandRandomPasswords";
}

<h1>Generating Unique Keys and Random Passwords</h1>
<div id="metadata" cmpgrp="page info">
    <a href="https://github.com/guntidheerajkumar" class="avatar" title="Dheeraj Kumar Gunti">
        <span class="author-name" style="background-image: url(https://github.com/guntidheerajkumar.png)" alt="Author Name"></span>
    </a>
    <div class="info">
        <span class="name"><a href="https://github.com/guntidheerajkumar">Dheeraj Kumar Gunti</a></span>
        <div class="meta">
            <p>Reading Time : <span class="eta"></span> (<span class="words"></span> words)</p>
        </div>
    </div>
</div>
<article>
    <p>Following is the code used to generate unique key :</p>
    <script src="https://gist.github.com/guntidheerajkumar/2822b3b1d6fd5ef7abd65ca839bc2f36.js"></script>

    <p>Following is the code used to generate random password :</p>
    <script src="https://gist.github.com/guntidheerajkumar/f2cd22be905e5057a098ba29fc524a7f.js"></script>

    <br />
    <p>Happy Coding....</p>
</article>