
@{
    ViewBag.Title = "MVCIndex";
}

<script type="text/javascript">
    $(function () {
        var $rows = $('#mvctable tr');
        $('#mvcsearch').keyup(function () {

            var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
                reg = RegExp(val, 'i'),
                text;

            $rows.show().filter(function () {
                text = $(this).text().replace(/\s+/g, ' ');
                return !reg.test(text);
            }).hide();
        });
    });
</script>

<div>
    <div>
        <input type="text" class="form-control pull-right" id="mvcsearch" placeholder="Search Articles" />

    </div>
    <br />
    <br /><br />
    <div>
        <table id="mvctable" class="table-hover" style="width:100%;">
            @foreach (var x in KBArticles.GetMVCList().ToList())
            {
                <tr>
                    <td style="padding:10px;">
                        <span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;<a style="text-decoration:none; color:#2C3E50;" href="@x.ArticleURL">@x.ArticleName</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

