@{
    ViewBag.Title = "Removing Repetitive Characters from the string";
}

<h1>Removing Repetitive Characters from the string</h1>
<br />
<pre>
<span style='color:#800000; font-weight:bold; '>var</span> test <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>Thiiiiiiiiiiisssssssss iiiiiisssssss ttttttteeeeessssssssst apppppppppllllliiiiccationnnnn</span><span style='color:#800000; '>"</span><span style='color:#800080; '>;</span>
            test<span style='color:#808030; '>.</span>Distinct<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>.</span>Select<span style='color:#808030; '>(</span>c <span style='color:#808030; '>=</span><span style='color:#808030; '>></span> c<span style='color:#808030; '>.</span>ToString<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span><span style='color:#808030; '>.</span>ToList<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span>
        <span style='color:#808030; '>.</span>ForEach<span style='color:#808030; '>(</span>c <span style='color:#808030; '>=</span><span style='color:#808030; '>></span>
        <span style='color:#800080; '>{</span>
        <span style='color:#800000; font-weight:bold; '>while</span> <span style='color:#808030; '>(</span>test<span style='color:#808030; '>.</span>Contains<span style='color:#808030; '>(</span>c <span style='color:#808030; '>+</span> c<span style='color:#808030; '>)</span><span style='color:#808030; '>)</span>
                        test <span style='color:#808030; '>=</span> test<span style='color:#808030; '>.</span>Replace<span style='color:#808030; '>(</span>c <span style='color:#808030; '>+</span> c<span style='color:#808030; '>,</span> c<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        <span style='color:#800080; '>}</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
</pre>
