@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-md-4">
        <img src="~/Images/Dheeraj kumar.jpg" class="img-circle img-responsive">
    </div>
    <div class="col-md-8 text-justify">
        <h1>Dheeraj Kumar Gunti</h1>
        <h3>Mobile App Developer</h3>
        <p>
            Passionate Software engineer with 10 Years of experience in Software development and around 4 years of experience in mobile development using Xamarin.
            Having good knowledge in iOS Mobile development with Xamarin (MonoTouch) and a certified mobile developer from Xamarin University. <br />
            Good Experience in desiging and architecturing mobile and web applications.
        </p>
        You can reach me at <a href="mailTo:guntidheerajkumar@hotmail.com">guntidheerajkumar@hotmail.com</a>
    </div>
</div>
