@{
    ViewBag.Title = "About";
}
<script src="https://apis.google.com/js/platform.js"></script>
<div class="row">
    <div class="col-md-8 text-justify">
        <h1>Dheeraj Kumar Gunti</h1> <div class="g-ytsubscribe" data-channel="GoogleDevelopers" data-layout="default" data-count="default"></div>
        <h3>Mobile App Developer</h3>
        <p>
            Passionate Software engineer with 10 Years of experience in Software development and around 4 years of experience in mobile development using Xamarin.
            Having good knowledge in iOS Mobile development with Xamarin (MonoTouch) and a certified mobile developer from Xamarin University. <br />
            Good Experience in designing and architecture mobile and web applications.
        </p>
        You can reach me at &nbsp;<a href="mailTo:guntidheerajkumar@hotmail.com"><img src="~/Images/email.png" title="guntidheerajkumar@hotmail.com" /></a>&nbsp;&nbsp;
        <a href="https://twitter.com/iamdheerajg" target="_blank"><img src="~/Images/twitter.png" title="#iamdheerajg"/></a>
    </div>
</div>