@{
    ViewBag.Title = "Alternative Collection Views iOS";
}

<h1>Alternative CollectionViews in iOS</h1>
<div id="metadata" cmpgrp="page info">
    <a href="https://github.com/guntidheerajkumar" class="avatar" title="Dheeraj Kumar Gunti">
        <span class="author-name" style="background-image: url('../../Images/avatar.png')" alt="Author Name"></span>
    </a>
    <div class="info">
        <span class="name"><a href="https://github.com/guntidheerajkumar">Dheeraj Kumar Gunti</a></span>
        <div class="meta">
            <p>Reading Time : <span class="eta"></span> (<span class="words"></span> words)</p>
        </div>
    </div>
</div>
<article>
    <br />
    <p>CollectionViews are finest representation of items in rows and columns format. Here is a small sample which can be used as alternative for CollectionView.</p>
    <p><b>Note:</b> This example is best suited for loading minimal number of items.</p>

    <p>Following is the sample for achieving that...</p>
    <p>As in a normal flow, create a Empty Solution and Add a new view controller.</p>
    <script src="https://gist.github.com/guntidheerajkumar/6a677579f120969b3c7255548a3e3a73.js"></script>
    <p>In the ViewDidLoad method have the below code pasted.</p>
    <script src="https://gist.github.com/guntidheerajkumar/72f6aebcf86c58924db58911257a2e9d.js"></script>
    <p>For Differentiating the cells we are specifying background color for the child views.</p>
    <script src="https://gist.github.com/guntidheerajkumar/677a1c3c9f210cfaaa86afdec6bc0236.js"></script>
    <p>In this example we are displaying image which loads asynchronously.</p>
    <script src="https://gist.github.com/guntidheerajkumar/561bde05381843704c04d1451d5b7a00.js"></script>
    <p>Run the application...</p>
    <p><b><u>Output:</u></b></p>
    <img src="~/Images/CollectionViewiOS.jpg" width="200" height="300" />
    <br />
    <br />
    <img src="~/Images/CollectionViewiOS_1.jpg" width="200" height="300" />
    <br />
    <br />
    <p>Enjoy Coding..... :)</p>
</article>