@{
    ViewBag.Title = "Creating Custom TableViewCell";
}

<h1>Creating Custom TableViewCell</h1>
<br />
<p>Hello All, Welcome back again.</p>
<p>In General Application development presentation is the key item to be concentrated first. If we have TableViews in our application presenting them in beautiful way is a key challenge. If we want to have custom design for representing list of items with TableViews then we need to go with CustomTableViewCells.</p>
<p>Following is the step by step example for creating Custom TableViewCell.</p>
<p>Open Xamarin Studio and Create a new Application.</p>
<img src="~/Images/iOSCustomTableCell/CustomTableCell_1.png" class="img-responsive" />
<br /><br />
<p>Once the default skeleton is created. Add a ViewController to the solution.</p>
<img src="~/Images/iOSCustomTableCell/CustomTableCell_2.png" class="img-responsive" />
<br /><br />
<p>Open the View Controller and Create a Sample Class with two properties.</p>
<pre>
<span style='color:#800000; font-weight:bold; '>public</span> <span style='color:#800000; font-weight:bold; '>class</span> Person
<span style='color:#800080; '>{</span>
<span style='color:#800000; font-weight:bold; '>public</span> <span style='color:#800000; font-weight:bold; '>string</span> Name <span style='color:#800080; '>{</span>
<span style='color:#800000; font-weight:bold; '>get</span><span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>set</span><span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>
<span style='color:#800000; font-weight:bold; '>public</span> <span style='color:#800000; font-weight:bold; '>string</span> Address <span style='color:#800080; '>{</span>
<span style='color:#800000; font-weight:bold; '>get</span><span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>set</span><span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>
<span style='color:#800080; '>}</span>
</pre>
<p>Create a TableSource which populates all the data to the table.</p>
<pre>
<span style='color:#800000; font-weight:bold; '>public</span> <span style='color:#800000; font-weight:bold; '>class</span> SampleTableSource <span style='color:#808030; '>:</span> UITableViewSource
<span style='color:#800080; '>{</span>
    List<span style='color:#808030; '>&lt;</span>Person<span style='color:#808030; '>></span> tableItems<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>const</span> <span style='color:#800000; font-weight:bold; '>string</span> cellIdentifier <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>TableCell</span><span style='color:#800000; '>"</span><span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>public</span> SampleTableSource <span style='color:#808030; '>(</span>List<span style='color:#808030; '>&lt;</span>Person<span style='color:#808030; '>></span> items<span style='color:#808030; '>)</span>
<span style='color:#800080; '>{</span>
		tableItems <span style='color:#808030; '>=</span> items<span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>
<span style='color:#800000; font-weight:bold; '>public</span> <span style='color:#800000; font-weight:bold; '>override</span> nfloat GetHeightForRow <span style='color:#808030; '>(</span>UITableView tableView<span style='color:#808030; '>,</span> Foundation<span style='color:#808030; '>.</span>NSIndexPath indexPath<span style='color:#808030; '>)</span>
<span style='color:#800080; '>{</span>
<span style='color:#800000; font-weight:bold; '>return</span> <span style='color:#008c00; '>60</span><span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>
<span style='color:#800000; font-weight:bold; '>public</span> <span style='color:#800000; font-weight:bold; '>override</span> nint RowsInSection <span style='color:#808030; '>(</span>UITableView tableview<span style='color:#808030; '>,</span> nint section<span style='color:#808030; '>)</span>
<span style='color:#800080; '>{</span>
<span style='color:#800000; font-weight:bold; '>return</span> tableItems<span style='color:#808030; '>.</span>Count<span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>
<span style='color:#800000; font-weight:bold; '>public</span> <span style='color:#800000; font-weight:bold; '>override</span> UITableViewCell GetCell <span style='color:#808030; '>(</span>UITableView tableView<span style='color:#808030; '>,</span> Foundation<span style='color:#808030; '>.</span>NSIndexPath indexPath<span style='color:#808030; '>)</span>
<span style='color:#800080; '>{</span>
<span style='color:#800000; font-weight:bold; '>var</span> cell <span style='color:#808030; '>=</span> CustomCell<span style='color:#808030; '>.</span>Create <span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
		cell<span style='color:#808030; '>.</span>LblPersonName<span style='color:#808030; '>.</span>Text <span style='color:#808030; '>=</span> tableItems <span style='color:#808030; '>[</span>indexPath<span style='color:#808030; '>.</span>Row<span style='color:#808030; '>]</span><span style='color:#808030; '>.</span>Name<span style='color:#800080; '>;</span>
		cell<span style='color:#808030; '>.</span>LblPersonAddress<span style='color:#808030; '>.</span>Text <span style='color:#808030; '>=</span> tableItems <span style='color:#808030; '>[</span>indexPath<span style='color:#808030; '>.</span>Row<span style='color:#808030; '>]</span><span style='color:#808030; '>.</span>Address<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>return</span> cell<span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>
<span style='color:#800080; '>}</span>
</pre>
<p>On the ViewDidLoad create an object for TableView and create a object for TableViewSource and add the TableView to the ParentView.</p>
<pre>
<span style='color:#800000; font-weight:bold; '>var</span> sampleTable <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> UITableView <span style='color:#808030; '>(</span>View<span style='color:#808030; '>.</span>Bounds<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span> 
sampleTable<span style='color:#808030; '>.</span>Source <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> SampleTableSource <span style='color:#808030; '>(</span>lstPerson<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>View<span style='color:#808030; '>.</span>AddSubview <span style='color:#808030; '>(</span>sampleTable<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
</pre>
<p>Populate some test data to the Person.</p>
<pre>
List<span style='color:#808030; '>&lt;</span>Person<span style='color:#808030; '>></span> lstPerson <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> List<span style='color:#808030; '>&lt;</span>Person<span style='color:#808030; '>></span> <span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
lstPerson<span style='color:#808030; '>.</span>Add <span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>new</span> Person <span style='color:#800080; '>{</span> Name <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>Person 1</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span> Address <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>Address 1</span><span style='color:#800000; '>"</span> <span style='color:#800080; '>}</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
lstPerson<span style='color:#808030; '>.</span>Add <span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>new</span> Person <span style='color:#800080; '>{</span> Name <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>Person 2</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span> Address <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>Address 2</span><span style='color:#800000; '>"</span> <span style='color:#800080; '>}</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
lstPerson<span style='color:#808030; '>.</span>Add <span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>new</span> Person <span style='color:#800080; '>{</span> Name <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>Person 3</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span> Address <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>Address 3</span><span style='color:#800000; '>"</span> <span style='color:#800080; '>}</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
</pre>
<p>Right Click on the Project and Add New File and Choose iOS section and Select iPhone Table View Cell</p>
<img src="~/Images/iOSCustomTableCell/CustomTableCell_3.png" class="img-responsive" />
<br />
<br />
<p>Once the file is successfully created in the project. Open the .XIB file in Interface Builder and design the scree as below.</p>
<img src="~/Images/iOSCustomTableCell/CustomTableCell_4.png" class="img-responsive" />
<br />
<br />
<p>Open the CustomCell.designer.cs file and you can able to see the outlets got created.</p>
<pre>
<span style='color:#808030; '>[</span>Register <span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>CustomCell</span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span><span style='color:#808030; '>]</span>
partial <span style='color:#800000; font-weight:bold; '>class</span> CustomCell
<span style='color:#800080; '>{</span>
<span style='color:#808030; '>[</span>Outlet<span style='color:#808030; '>]</span>
<span style='color:#800000; font-weight:bold; '>public</span> UIKit<span style='color:#808030; '>.</span>UILabel LblPersonAddress <span style='color:#800080; '>{</span> <span style='color:#800000; font-weight:bold; '>get</span><span style='color:#800080; '>;</span> <span style='color:#800000; font-weight:bold; '>set</span><span style='color:#800080; '>;</span> <span style='color:#800080; '>}</span>
<span style='color:#808030; '>[</span>Outlet<span style='color:#808030; '>]</span>
<span style='color:#800000; font-weight:bold; '>public</span> UIKit<span style='color:#808030; '>.</span>UILabel LblPersonName <span style='color:#800080; '>{</span> <span style='color:#800000; font-weight:bold; '>get</span><span style='color:#800080; '>;</span> <span style='color:#800000; font-weight:bold; '>set</span><span style='color:#800080; '>;</span> <span style='color:#800080; '>}</span>
<span style='color:#800000; font-weight:bold; '>void</span> ReleaseDesignerOutlets <span style='color:#808030; '>(</span><span style='color:#808030; '>)</span>
<span style='color:#800080; '>{</span>
<span style='color:#800000; font-weight:bold; '>if</span> <span style='color:#808030; '>(</span>LblPersonName <span style='color:#808030; '>!</span><span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>null</span><span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
		    LblPersonName<span style='color:#808030; '>.</span>Dispose <span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
			LblPersonName <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>null</span><span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>
<span style='color:#800000; font-weight:bold; '>if</span> <span style='color:#808030; '>(</span>LblPersonAddress <span style='color:#808030; '>!</span><span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>null</span><span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
			LblPersonAddress<span style='color:#808030; '>.</span>Dispose <span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
			LblPersonAddress <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>null</span><span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>
<span style='color:#800080; '>}</span>
<span style='color:#800080; '>}</span>
</pre>
<p>In the TableView Source GetCell method you can see how we are accessing CustomTableViewCell and its properties.</p>
<pre>
<span style='color:#800000; font-weight:bold; '>var</span> cell <span style='color:#808030; '>=</span> CustomCell<span style='color:#808030; '>.</span>Create <span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
cell<span style='color:#808030; '>.</span>LblPersonName<span style='color:#808030; '>.</span>Text <span style='color:#808030; '>=</span> tableItems <span style='color:#808030; '>[</span>indexPath<span style='color:#808030; '>.</span>Row<span style='color:#808030; '>]</span><span style='color:#808030; '>.</span>Name<span style='color:#800080; '>;</span>
cell<span style='color:#808030; '>.</span>LblPersonAddress<span style='color:#808030; '>.</span>Text <span style='color:#808030; '>=</span> tableItems <span style='color:#808030; '>[</span>indexPath<span style='color:#808030; '>.</span>Row<span style='color:#808030; '>]</span><span style='color:#808030; '>.</span>Address<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>return</span> cell<span style='color:#800080; '>;</span>
</pre>
<br />
<b><u>Output:</u></b>
<br />
<br />
<img src="~/Images/iOSCustomTableCell/CustomTableCell_5.jpg" class="img-responsive" width="200" height="300"/>
<br /><br />
<p>Enjoy Coding.... :)</p>