
@{
    ViewBag.Title = "Drawing Circle with Zoom Animation";
}

<h1>Drawing Circle with Zoom Animation</h1>
<div id="metadata" cmpgrp="page info">
    <a href="https://github.com/guntidheerajkumar" class="avatar" title="Dheeraj Kumar Gunti">
        <span class="author-name" style="background-image: url(https://github.com/guntidheerajkumar.png)" alt="Author Name"></span>
    </a>
    <div class="info">
        <span class="name"><a href="https://github.com/guntidheerajkumar">Dheeraj Kumar Gunti</a></span>
        <div class="meta">
            <p>Reading Time : <span class="eta"></span> (<span class="words"></span> words)</p>
        </div>
    </div>
</div>
<article>
    <br />
    <p>Below code snippet is used to draw a circle using CALayer and add zoom/scale animation.</p>
    <script src="https://gist.github.com/guntidheerajkumar/10132ff5733a06ce8650ebfa83c14cd7.js"></script>
    <p><b>Output:</b> </p>
    <img src="~/Images/CALayer_1.jpg" width="150" height="150" />
    <img src="~/Images/CALayer_2.jpg" width="150" height="150" />
</article>