@{
    ViewBag.Title = "iOSIndex";
}

<script type="text/javascript">
    $(function () {
        var $rows = $('#xamarintable tr');
        $('#xamarinsearch').keyup(function () {

            var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
                reg = RegExp(val, 'i'),
                text;

            $rows.show().filter(function () {
                text = $(this).text().replace(/\s+/g, ' ');
                return !reg.test(text);
            }).hide();
        });
    });
</script>

<div class="col-sm-12">
    <div>
        <div>
            <input type="text" class="form-control pull-right" id="xamarinsearch" placeholder="Search Articles" />
        </div>
        <br />
        <br />
        <br />
        <div>
            <table class="table-hover" style="width:100%;" id="xamarintable">
                @foreach (var x in KBArticles.GetXamariniOSList().ToList())
                {
                    <tr>
                        <td style="padding:10px;">
                            <span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;<a style="text-decoration:none; color:#2C3E50;" href="@x.ArticleURL">@x.ArticleName</a>
                        </td>
                    </tr>

                }
            </table>
        </div>
    </div>
</div>
<script src="~/Videos/index_videolb/jquery.tools.min.js" type="text/javascript"></script>
<script src="~/Videos/index_videolb/videolightbox.js" type="text/javascript"></script>
<!-- End VideoLightBox.com BODY section -->
