
@{
    ViewBag.Title = "ReadingPlistFile";
}

<h1>Reading Plist File</h1>
<div id="metadata" cmpgrp="page info">
    <a href="https://github.com/guntidheerajkumar" class="avatar" title="Dheeraj Kumar Gunti">
        <span class="author-name" style="background-image: url(https://github.com/guntidheerajkumar.png)" alt="Author Name"></span>
    </a>
    <div class="info">
        <span class="name"><a href="https://github.com/guntidheerajkumar">Dheeraj Kumar Gunti</a></span>
        <div class="meta">
            <p>Reading Time : <span class="eta"></span> (<span class="words"></span> words)</p>
        </div>
    </div>
</div>
<article>
    <p>All the settings/properties related to iOS Application are specified in plist file. This is the important file in any iOS application.</p>

    <p>Few of the settings like, icon images, splash images, title, version, etc are specified in plist file.</p>

    <p>In this example we will be knowing how to read a plist file. </p>
    <script src="https://gist.github.com/guntidheerajkumar/99dbf1bd559a95edc3ce4783df2105c9.js"></script>

    <p>Below is the process for using the class we have created above.</p>
    <script src="https://gist.github.com/guntidheerajkumar/10e85b8f0297e6fafc0e08d79ebda2d2.js"></script>
    <br />
    <br />
    <p>Happy Coding....</p>
</article>


