
@{
    ViewBag.Title = "WorkingwithDisplayAttributeinPCL";
}

<h2>Working with Display Attribute in PCL</h2>

<div id="metadata" cmpgrp="page info">
    <a href="https://github.com/guntidheerajkumar" class="avatar" title="Dheeraj Kumar Gunti">
        <span class="author-name" style="background-image: url(https://github.com/guntidheerajkumar.png)" alt="Author Name"></span>
    </a>
    <div class="info">
        <span class="name"><a href="https://github.com/guntidheerajkumar">Dheeraj Kumar Gunti</a></span>
        <div class="meta">
            <p>Reading Time : <span class="eta"></span> (<span class="words"></span> words)</p>
        </div>
    </div>
</div>
<article>
    <p>Hi all, Welcome back to Knowledge Base. </p>
    <p>Everyone of us will be working on Portable Class Libraries and we will be creating lot of entities in that library. As in web technologies like ASP.NET MVC when we are working with entities we have got an option to specify the descriptive name for the property in our entity. </p>
    <p>But where as in PCL libraries we don't have <b>System.ComponentModel.DescriptionAttribute</b></p>
    <p>We don't have any straight forward way to get this in to PCL. So we are using .NET Reflection.</p>

    <script src="https://gist.github.com/guntidheerajkumar/bfb0404faf5660c1dd3e9493c456c6ed.js"></script>

    <p>We have created a simple EnumsHelper class which can be even altered for handling class also.</p>

    <script src="https://gist.github.com/guntidheerajkumar/3f39d12da14886ce7f94e5c7758df58e.js"></script>

    <p>We are creating a class which is inheriting from Attribute where we are creating a property <b>DisplayName</b>. </p>

    <script src="https://gist.github.com/guntidheerajkumar/a141a14933060a0e60e6dfdca8802ecf.js"></script>

    <p>We will be using the <b>EnumDescription</b> attribute like in above code snippet. We will be using the below snippet to populate the description.</p>

    <script src="https://gist.github.com/guntidheerajkumar/c8a18535bfea497b65048c38913b9a40.js"></script>

    <p>Now with this process we can even deal with description in PCL Libraries.</p>

    <p>Hope you liked it... Happy Coding....</p>
</article>