@{
    ViewBag.Title = "Working on Pull to Refresh";
}

<h1>Working on Pull to Refresh</h1>
<div id="metadata" cmpgrp="page info">
    <a href="https://github.com/guntidheerajkumar" class="avatar" title="Dheeraj Kumar Gunti">
        <span class="author-name" style="background-image: url('../../Images/avatar.png')" alt="Author Name"></span>
    </a>
    <div class="info">
        <span class="name"><a href="https://github.com/guntidheerajkumar">Dheeraj Kumar Gunti</a></span>
        <div class="meta">
            <p>Reading Time : <span class="eta"></span> (<span class="words"></span> words)</p>
        </div>
    </div>
</div>
<article>
    <br />
    <p>Updating data on demand is the concept of Pull to refresh. Extending the basic process of Pull to refresh we can customize it to our needs. Here is the small sample of how to work with pull to refresh with DialogController.</p>
    <p><a href="https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIRefreshControl_class/index.html" target="_blank">UIRefreshControl</a> is the basic control which is used to initiate refresh to the tableview.</p>
<pre>
<span style='color:#800000; font-weight:bold; '>public</span> <span style='color:#800000; font-weight:bold; '>class</span> DemoRefreshController <span style='color:#808030; '>:</span> DialogViewController
<span style='color:#800080; '>{</span>
    RootElement root <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> RootElement <span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>Pull To Refresh</span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
    <span style='color:#800000; font-weight:bold; '>new</span> Section <span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>Items</span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
    <span style='color:#800080; '>}</span>
    <span style='color:#800080; '>}</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>int</span> i <span style='color:#808030; '>=</span> <span style='color:#008c00; '>0</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>public</span> DemoRefreshController <span style='color:#808030; '>(</span><span style='color:#808030; '>)</span> <span style='color:#808030; '>:</span> <span style='color:#800000; font-weight:bold; '>base</span> <span style='color:#808030; '>(</span>UITableViewStyle<span style='color:#808030; '>.</span>Grouped<span style='color:#808030; '>,</span> <span style='color:#800000; font-weight:bold; '>null</span><span style='color:#808030; '>)</span>
    <span style='color:#800080; '>{</span>
    <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>NavigationItem<span style='color:#808030; '>.</span>HidesBackButton <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>false</span><span style='color:#800080; '>;</span>
        root<span style='color:#808030; '>.</span>Add <span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>new</span> Section <span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>Root <span style='color:#808030; '>=</span> root<span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>var</span> refreshControl <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> UIRefreshControl <span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        refreshControl<span style='color:#808030; '>.</span>AttributedTitle <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> NSAttributedString <span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>Refreshing...</span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        refreshControl<span style='color:#808030; '>.</span>AddTarget <span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>,</span> <span style='color:#800000; font-weight:bold; '>new</span> Selector <span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>refresh:</span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span><span style='color:#808030; '>,</span> UIControlEvent<span style='color:#808030; '>.</span>AllEvents<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>RefreshControl <span style='color:#808030; '>=</span> refreshControl<span style='color:#800080; '>;</span>
    <span style='color:#800080; '>}</span>
    <span style='color:#808030; '>[</span>Export <span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>refresh:</span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span><span style='color:#808030; '>]</span>
    <span style='color:#800000; font-weight:bold; '>public</span> <span style='color:#800000; font-weight:bold; '>void</span> refresh <span style='color:#808030; '>(</span>NSObject sender<span style='color:#808030; '>)</span>
    <span style='color:#800080; '>{</span>
        NSTimer<span style='color:#808030; '>.</span>CreateScheduledTimer <span style='color:#808030; '>(</span><span style='color:#008c00; '>1</span><span style='color:#808030; '>,</span> <span style='color:#800000; font-weight:bold; '>delegate</span> <span style='color:#800080; '>{</span>
            root <span style='color:#808030; '>[</span><span style='color:#008c00; '>0</span><span style='color:#808030; '>]</span><span style='color:#808030; '>.</span>Add <span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>new</span> StringElement <span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>Added </span><span style='color:#800000; '>"</span> <span style='color:#808030; '>+</span> <span style='color:#808030; '>(</span><span style='color:#808030; '>+</span><span style='color:#808030; '>+</span>i<span style='color:#808030; '>)</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>ReloadComplete <span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>var</span> control <span style='color:#808030; '>=</span> <span style='color:#808030; '>(</span>UIRefreshControl<span style='color:#808030; '>)</span>sender<span style='color:#800080; '>;</span>
            control<span style='color:#808030; '>.</span>EndRefreshing <span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800080; '>}</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800080; '>}</span>
<span style='color:#800080; '>}</span>
</pre>
</article>