@{
    ViewBag.Title = "Working on Animations Shaking View";
}

<h1>Working on Animations Shaking View</h1>
<div id="metadata" cmpgrp="page info">
    <a href="https://github.com/guntidheerajkumar" class="avatar" title="Dheeraj Kumar Gunti">
        <span class="author-name" style="background-image: url(https://github.com/guntidheerajkumar.png)" alt="Author Name"></span>
    </a>
    <div class="info">
        <span class="name"><a href="https://github.com/guntidheerajkumar">Dheeraj Kumar Gunti</a></span>
        <div class="meta">
            <p>Reading Time : <span class="eta"></span> (<span class="words"></span> words)</p>
        </div>
    </div>
</div>
<article>
    <br />
    <p>By Creating effects or some visual transitions to the UIControls in the applications brings more richness to the application. If for example if I am having a UITextField in my View and if I click on any button with out entering text in that UITextField, TextField should behave in such a way that it should say nothing has entered in an effective way. Effective way of representation comes with Animations.</p>
    <p>Here is the small sample with shakes the view if nothing entered.</p>
    <p>In the below sample I have added UITextField and UIButton. On UIButton TouchUpInside event I am trying to animate my view. </p>
    <p>UIKit and CoreAnimation will support animations in iOS application. UIView supports basic animations. In the below example UIView class has AnimateAsync delegate method which performs animation by specifying certain properties like, from where to where the view should animate and for how much duration that a view should animate. </p>

<pre>
<span style='color:#800000; font-weight:bold; '>using</span> System<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>using</span> UIKit<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>using</span> CoreGraphics<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>using</span> CoreAnimation<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>using</span> Foundation<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>using</span> System<span style='color:#808030; '>.</span>Threading<span style='color:#808030; '>.</span>Tasks<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>public</span> <span style='color:#800000; font-weight:bold; '>override</span> <span style='color:#800000; font-weight:bold; '>void</span> ViewDidLoad <span style='color:#808030; '>(</span><span style='color:#808030; '>)</span>
<span style='color:#800080; '>{</span>
    <span style='color:#800000; font-weight:bold; '>base</span><span style='color:#808030; '>.</span>ViewDidLoad <span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>Title <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>Shake Animation</span><span style='color:#800000; '>"</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>View<span style='color:#808030; '>.</span>BackgroundColor <span style='color:#808030; '>=</span> UIColor<span style='color:#808030; '>.</span>White<span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>var</span> textField <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> UITextField <span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>new</span> CGRect <span style='color:#808030; '>(</span><span style='color:#008c00; '>20</span><span style='color:#808030; '>,</span> <span style='color:#008c00; '>100</span><span style='color:#808030; '>,</span> <span style='color:#008c00; '>280</span><span style='color:#808030; '>,</span> <span style='color:#008c00; '>40</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    textField<span style='color:#808030; '>.</span>BackgroundColor <span style='color:#808030; '>=</span> UIColor<span style='color:#808030; '>.</span>Black<span style='color:#800080; '>;</span>
    textField<span style='color:#808030; '>.</span>TextColor <span style='color:#808030; '>=</span> UIColor<span style='color:#808030; '>.</span>White<span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>var</span> clickBtn <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> UIButton <span style='color:#808030; '>(</span>UIButtonType<span style='color:#808030; '>.</span>Custom<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    clickBtn<span style='color:#808030; '>.</span>SetTitle <span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>Click Me</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span> UIControlState<span style='color:#808030; '>.</span>Normal<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    clickBtn<span style='color:#808030; '>.</span>SetTitleColor <span style='color:#808030; '>(</span>UIColor<span style='color:#808030; '>.</span>Black<span style='color:#808030; '>,</span> UIControlState<span style='color:#808030; '>.</span>Normal<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    clickBtn<span style='color:#808030; '>.</span>Font <span style='color:#808030; '>=</span> UIFont<span style='color:#808030; '>.</span>SystemFontOfSize <span style='color:#808030; '>(</span>14f<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    clickBtn<span style='color:#808030; '>.</span>Frame <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> CGRect <span style='color:#808030; '>(</span><span style='color:#008c00; '>20</span><span style='color:#808030; '>,</span> <span style='color:#008c00; '>160</span><span style='color:#808030; '>,</span> <span style='color:#008c00; '>280</span><span style='color:#808030; '>,</span> <span style='color:#008c00; '>40</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    clickBtn<span style='color:#808030; '>.</span>TouchUpInside <span style='color:#808030; '>+</span><span style='color:#808030; '>=</span> async <span style='color:#808030; '>(</span>sender<span style='color:#808030; '>,</span> e<span style='color:#808030; '>)</span> <span style='color:#808030; '>=</span><span style='color:#808030; '>></span> <span style='color:#800080; '>{</span>
        await AnimateShakeAsync <span style='color:#808030; '>(</span>textField<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800080; '>}</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>View<span style='color:#808030; '>.</span>AddSubview <span style='color:#808030; '>(</span>clickBtn<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>View<span style='color:#808030; '>.</span>AddSubview <span style='color:#808030; '>(</span>textField<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>
<span style='color:#800000; font-weight:bold; '>public</span> <span style='color:#800000; font-weight:bold; '>static</span> async Task AnimateShakeAsync <span style='color:#808030; '>(</span>UITextField view<span style='color:#808030; '>)</span>
<span style='color:#800080; '>{</span>
    await AnimateHorizontalMovementAsync <span style='color:#808030; '>(</span>view<span style='color:#808030; '>,</span> <span style='color:#808030; '>-</span><span style='color:#008c00; '>10</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    await AnimateHorizontalMovementAsync <span style='color:#808030; '>(</span>view<span style='color:#808030; '>,</span> <span style='color:#008c00; '>20</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    await AnimateHorizontalMovementAsync <span style='color:#808030; '>(</span>view<span style='color:#808030; '>,</span> <span style='color:#808030; '>-</span><span style='color:#008c00; '>20</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    await AnimateHorizontalMovementAsync <span style='color:#808030; '>(</span>view<span style='color:#808030; '>,</span> <span style='color:#008c00; '>20</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    await AnimateHorizontalMovementAsync <span style='color:#808030; '>(</span>view<span style='color:#808030; '>,</span> <span style='color:#808030; '>-</span><span style='color:#008c00; '>15</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    await AnimateHorizontalMovementAsync <span style='color:#808030; '>(</span>view<span style='color:#808030; '>,</span> <span style='color:#008c00; '>10</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    await AnimateHorizontalMovementAsync <span style='color:#808030; '>(</span>view<span style='color:#808030; '>,</span> <span style='color:#808030; '>-</span><span style='color:#008c00; '>5</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>
<span style='color:#800000; font-weight:bold; '>private</span> <span style='color:#800000; font-weight:bold; '>static</span> async Task AnimateHorizontalMovementAsync <span style='color:#808030; '>(</span>UITextField view<span style='color:#808030; '>,</span> <span style='color:#800000; font-weight:bold; '>float</span> horizontalOffset<span style='color:#808030; '>)</span>
<span style='color:#800080; '>{</span>
    await UIView<span style='color:#808030; '>.</span>AnimateAsync <span style='color:#808030; '>(</span><span style='color:#008000; '>0.065</span><span style='color:#808030; '>,</span> <span style='color:#808030; '>(</span><span style='color:#808030; '>)</span> <span style='color:#808030; '>=</span><span style='color:#808030; '>></span> view<span style='color:#808030; '>.</span>Frame <span style='color:#808030; '>=</span>
    <span style='color:#800000; font-weight:bold; '>new</span> CGRect <span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>new</span> CGPoint <span style='color:#808030; '>(</span>view<span style='color:#808030; '>.</span>Frame<span style='color:#808030; '>.</span>Left <span style='color:#808030; '>+</span> horizontalOffset<span style='color:#808030; '>,</span> view<span style='color:#808030; '>.</span>Frame<span style='color:#808030; '>.</span>Top<span style='color:#808030; '>)</span><span style='color:#808030; '>,</span>
    view<span style='color:#808030; '>.</span>Frame<span style='color:#808030; '>.</span>Size<span style='color:#808030; '>)</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>
</pre>

    <p>All the methods above can be changed according to the need.</p>
    <p>Enjoy Coding..... :)</p>
</article>