@{
    ViewBag.Title = "Working with Asynchronous Downloading";
}

<h1>Working with Asynchronous Downloading</h1>
<div id="metadata" cmpgrp="page info">
    <a href="https://github.com/guntidheerajkumar" class="avatar" title="Dheeraj Kumar Gunti">
        <span class="author-name" style="background-image: url(https://github.com/guntidheerajkumar.png)" alt="Author Name"></span>
    </a>
    <div class="info">
        <span class="name"><a href="https://github.com/guntidheerajkumar">Dheeraj Kumar Gunti</a></span>
        <div class="meta">
            <p>Reading Time : <span class="eta"></span> (<span class="words"></span> words)</p>
        </div>
    </div>
</div>
<article>
    <br />
    <p>Here is the Sample application which downloads image asynchronously and shows download progress.</p>
    <p>Create an iOS Empty Solution and Add a view controller.</p>
    <p>Add an UIButton and UIImage to the View Controller in Interface Builder and Create outlets as shown in the below image.</p>
    <br />
    <img src="~/Images/Async_ios/Async_1.png" class="img-responsive" />
    <br />
    <p>Below is the sample code,</p>
<pre>
<span style='color:#800000; font-weight:bold; '>using</span> System<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>using</span> Foundation<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>using</span> UIKit<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>using</span> System<span style='color:#808030; '>.</span>Net<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>using</span> CoreGraphics<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>using</span> System<span style='color:#808030; '>.</span>IO<span style='color:#800080; '>;</span>
<span style='color:#800000; font-weight:bold; '>using</span> System<span style='color:#808030; '>.</span>Threading<span style='color:#808030; '>.</span>Tasks<span style='color:#800080; '>;</span>
</pre>

<pre>
<span style='color:#800000;font-weight:bold;'>WebClient</span> webClient<span style='color:#800080; '>;</span>
<span style='color:#800000;font-weight:bold;'>UIProgressView</span> progressView<span style='color:#800080; '>;</span>
</pre>

<pre>
<span style='color:#800000; font-weight:bold; '>public</span> <span style='color:#800000; font-weight:bold; '>override</span> <span style='color:#800000; font-weight:bold; '>void</span> ViewDidLoad <span style='color:#808030; '>(</span><span style='color:#808030; '>)</span>
<span style='color:#800080; '>{</span>
    <span style='color:#800000; font-weight:bold; '>base</span><span style='color:#808030; '>.</span>ViewDidLoad <span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    progressView <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> UIProgressView <span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>new</span> CGRect <span style='color:#808030; '>(</span><span style='color:#008c00; '>0</span><span style='color:#808030; '>,</span> <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>NavigationController<span style='color:#808030; '>.</span>NavigationBar<span style='color:#808030; '>.</span>Frame<span style='color:#808030; '>.</span>Size<span style='color:#808030; '>.</span>Height<span style='color:#808030; '>,</span>
    UIScreen<span style='color:#808030; '>.</span>MainScreen<span style='color:#808030; '>.</span>Bounds<span style='color:#808030; '>.</span>Width<span style='color:#808030; '>,</span> <span style='color:#008c00; '>10</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    progressView<span style='color:#808030; '>.</span>Progress <span style='color:#808030; '>=</span> <span style='color:#008000; '>0.0</span><span style='color:#006600; '>f</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>downloadBtn<span style='color:#808030; '>.</span>TouchUpInside <span style='color:#808030; '>+</span><span style='color:#808030; '>=</span> downloadAsync<span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>
</pre>

<pre>
async <span style='color:#800000; font-weight:bold; '>void</span> downloadAsync <span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>object</span> sender<span style='color:#808030; '>,</span> System<span style='color:#808030; '>.</span>EventArgs ea<span style='color:#808030; '>)</span>
<span style='color:#800080; '>{</span>
    <span style='color:#696969; '>//Adding Progress View To NavigationBar </span>
    <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>NavigationController<span style='color:#808030; '>.</span>NavigationBar<span style='color:#808030; '>.</span>AddSubview <span style='color:#808030; '>(</span>progressView<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#696969; '>//Creating Object for WebClient</span>
    webClient <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> WebClient <span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#696969; '>//Taking a large image</span>
    <span style='color:#800000; font-weight:bold; '>var</span> url <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> Uri <span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>http://photojournal.jpl.nasa.gov/jpeg/PIA15416.jpg</span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>byte</span><span style='color:#808030; '>[</span><span style='color:#808030; '>]</span> bytes <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>null</span><span style='color:#800080; '>;</span>
    webClient<span style='color:#808030; '>.</span>DownloadProgressChanged <span style='color:#808030; '>+</span><span style='color:#808030; '>=</span> HandleDownloadProgressChanged<span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>downloadBtn<span style='color:#808030; '>.</span>SetTitle <span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>Cancel</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span> UIControlState<span style='color:#808030; '>.</span>Normal<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>downloadBtn<span style='color:#808030; '>.</span>TouchUpInside <span style='color:#808030; '>-</span><span style='color:#808030; '>=</span> downloadAsync<span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>downloadBtn<span style='color:#808030; '>.</span>TouchUpInside <span style='color:#808030; '>+</span><span style='color:#808030; '>=</span> cancelDownload<span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>try</span> <span style='color:#800080; '>{</span>
    <span style='color:#696969; '>//Downloding data asynchronously</span>
        bytes <span style='color:#808030; '>=</span> await webClient<span style='color:#808030; '>.</span>DownloadDataTaskAsync <span style='color:#808030; '>(</span>url<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800080; '>}</span> <span style='color:#800000; font-weight:bold; '>catch</span> <span style='color:#808030; '>(</span>OperationCanceledException<span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
        Console<span style='color:#808030; '>.</span>WriteLine <span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>Task Canceled!</span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>return</span><span style='color:#800080; '>;</span>
    <span style='color:#800080; '>}</span> <span style='color:#800000; font-weight:bold; '>catch</span> <span style='color:#808030; '>(</span>Exception e<span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
        Console<span style='color:#808030; '>.</span>WriteLine <span style='color:#808030; '>(</span>e<span style='color:#808030; '>.</span>ToString <span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>return</span><span style='color:#800080; '>;</span>
    <span style='color:#800080; '>}</span>
    <span style='color:#696969; '>//Storing the downloaded file in the local directory</span>
    <span style='color:#800000; font-weight:bold; '>string</span> documentsPath <span style='color:#808030; '>=</span> Environment<span style='color:#808030; '>.</span>GetFolderPath <span style='color:#808030; '>(</span>Environment<span style='color:#808030; '>.</span>SpecialFolder<span style='color:#808030; '>.</span>Personal<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>string</span> localFilename <span style='color:#808030; '>=</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>downloaded.png</span><span style='color:#800000; '>"</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>string</span> localPath <span style='color:#808030; '>=</span> Path<span style='color:#808030; '>.</span>Combine <span style='color:#808030; '>(</span>documentsPath<span style='color:#808030; '>,</span> localFilename<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    FileStream fs <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> FileStream <span style='color:#808030; '>(</span>localPath<span style='color:#808030; '>,</span> FileMode<span style='color:#808030; '>.</span>OpenOrCreate<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    await fs<span style='color:#808030; '>.</span>WriteAsync <span style='color:#808030; '>(</span>bytes<span style='color:#808030; '>,</span> <span style='color:#008c00; '>0</span><span style='color:#808030; '>,</span> bytes<span style='color:#808030; '>.</span>Length<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    Console<span style='color:#808030; '>.</span>WriteLine <span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>localPath:</span><span style='color:#800000; '>"</span> <span style='color:#808030; '>+</span> localPath<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#696969; '>//Resizing image is time costing, using async to avoid blocking the UI thread</span>
    UIImage image <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>null</span><span style='color:#800080; '>;</span>
    CGSize imageViewSize <span style='color:#808030; '>=</span> imageView<span style='color:#808030; '>.</span>Frame<span style='color:#808030; '>.</span>Size<span style='color:#800080; '>;</span>
    await Task<span style='color:#808030; '>.</span>Run <span style='color:#808030; '>(</span><span style='color:#808030; '>(</span><span style='color:#808030; '>)</span> <span style='color:#808030; '>=</span><span style='color:#808030; '>></span> <span style='color:#800080; '>{</span>
    image <span style='color:#808030; '>=</span> UIImage<span style='color:#808030; '>.</span>FromFile <span style='color:#808030; '>(</span>localPath<span style='color:#808030; '>)</span><span style='color:#808030; '>.</span>Scale <span style='color:#808030; '>(</span>imageViewSize<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800080; '>}</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    Console<span style='color:#808030; '>.</span>WriteLine <span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>Loaded!</span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    imageView<span style='color:#808030; '>.</span>Image <span style='color:#808030; '>=</span> image<span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>downloadBtn<span style='color:#808030; '>.</span>TouchUpInside <span style='color:#808030; '>-</span><span style='color:#808030; '>=</span> cancelDownload<span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>downloadBtn<span style='color:#808030; '>.</span>TouchUpInside <span style='color:#808030; '>+</span><span style='color:#808030; '>=</span> downloadAsync<span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>downloadBtn<span style='color:#808030; '>.</span>SetTitle <span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>Download</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span> UIControlState<span style='color:#808030; '>.</span>Normal<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>progressView<span style='color:#808030; '>.</span>Progress <span style='color:#808030; '>=</span> <span style='color:#008000; '>0.0</span><span style='color:#006600; '>f</span><span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>
</pre>

<pre>
<span style='color:#800000; font-weight:bold; '>void</span> HandleDownloadProgressChanged <span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>object</span> sender<span style='color:#808030; '>,</span> DownloadProgressChangedEventArgs e<span style='color:#808030; '>)</span>
<span style='color:#800080; '>{</span>
    <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>progressView<span style='color:#808030; '>.</span>Progress <span style='color:#808030; '>=</span> e<span style='color:#808030; '>.</span>ProgressPercentage <span style='color:#808030; '>/</span> <span style='color:#008000; '>100.0</span><span style='color:#006600; '>f</span><span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>
</pre>


<pre>
<span style='color:#800000; font-weight:bold; '>void</span> cancelDownload <span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>object</span> sender<span style='color:#808030; '>,</span> System<span style='color:#808030; '>.</span>EventArgs ea<span style='color:#808030; '>)</span>
<span style='color:#800080; '>{</span>
    Console<span style='color:#808030; '>.</span>WriteLine <span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>Cancel clicked!</span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>if</span> <span style='color:#808030; '>(</span>webClient <span style='color:#808030; '>!</span><span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>null</span><span style='color:#808030; '>)</span>
    webClient<span style='color:#808030; '>.</span>CancelAsync <span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    webClient<span style='color:#808030; '>.</span>DownloadProgressChanged <span style='color:#808030; '>-</span><span style='color:#808030; '>=</span> HandleDownloadProgressChanged<span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>downloadBtn<span style='color:#808030; '>.</span>TouchUpInside <span style='color:#808030; '>-</span><span style='color:#808030; '>=</span> cancelDownload<span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>downloadBtn<span style='color:#808030; '>.</span>TouchUpInside <span style='color:#808030; '>+</span><span style='color:#808030; '>=</span> downloadAsync<span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>downloadBtn<span style='color:#808030; '>.</span>SetTitle <span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>Download</span><span style='color:#800000; '>"</span><span style='color:#808030; '>,</span> UIControlState<span style='color:#808030; '>.</span>Normal<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>progressView<span style='color:#808030; '>.</span>Progress <span style='color:#808030; '>=</span> <span style='color:#008000; '>0.0</span><span style='color:#006600; '>f</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>new</span> UIAlertView <span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>Canceled</span><span style='color:#800000; '>"</span>
    <span style='color:#808030; '>,</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>Download has been canceled.</span><span style='color:#800000; '>"</span>
    <span style='color:#808030; '>,</span> <span style='color:#800000; font-weight:bold; '>null</span>
    <span style='color:#808030; '>,</span> <span style='color:#800000; '>"</span><span style='color:#0000e6; '>OK</span><span style='color:#800000; '>"</span>
    <span style='color:#808030; '>,</span> <span style='color:#800000; font-weight:bold; '>null</span><span style='color:#808030; '>)</span><span style='color:#808030; '>.</span>Show <span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>
</pre>

    <p><b>Output:</b></p>
    <br />
    <p><b><u>Image 1</u></b></p>
    <img src="~/Images/Async_ios/Async_2.jpg" class="img-responsive" />
    <br /><br />
    <p><b><u>Image 2</u></b></p>
    <img src="~/Images/Async_ios/Async_3.jpg" class="img-responsive" />
    <br /><br />
    <p><b><u>Image 3</u></b></p>
    <img src="~/Images/Async_ios/Async_4.jpg" class="img-responsive" />
    <br /><br />
    <p>Enjoy Coding... </p>
    </article>