@{
    ViewBag.Title = "Videos";
}

<h2>Videos</h2>


<div class="list-group">
    <a href="http://download.microsoft.com/download/3/C/B/3CBE41F2-96EF-4F7E-B04C-C901C93FAB66/winvideo-VWD-03-WebFormsIntro.wmv" class="list-group-item-video ">
        Introduction to Web forms
    </a>
    <a href="http://download.microsoft.com/download/2/A/8/2A85AA9F-4EA1-417C-965E-BF6B8D3B226F/winvideo-VWD-09-SessionLevelObjectsl.wmv" class="list-group-item-video ">
        Introduction to Session Objects
    </a>
    <a class="list-group-item-video " href="http://download.microsoft.com/download/9/b/1/9b10e71c-d3bf-4b81-b508-f8cef100014a/WinVideo-UnderstandingControllers1.wmv" target="_blank">

        Understanding Controllers, Controller Actions, and Action Results
    </a>
    <a class="list-group-item-video " href="http://download.microsoft.com/download/A/F/F/AFF44AAC-4CD2-4CA5-9CB0-D24223E3CEF4/winvideo-CreatingAMovieDatabasel.wmv" target="_blank">

        Creating a Movie Database Application
    </a>
    <a class="list-group-item-video " href="http://download.microsoft.com/download/2/1/4/21495CA9-174F-436A-9AE5-2A05B29AA7E8/winvideo-VWD-12-MasterPagesl.wmv" target="_blank">

        Introduction to Master Pages
    </a>
    <a class="list-group-item-video " href="http://download.microsoft.com/download/B/9/8/B98CE905-BFBC-4432-A499-B2F32051F37E/winvideo-VWD-16-LoginL.wmv" target="_blank">

        Introduction to Login Controls
    </a>
    <a class="list-group-item-video " href="http://download.microsoft.com/download/5/5/A/55AA7482-CB4F-45BB-A280-8B8D2D9E6EDA/Winvideo-VWD-06-Controls101l.wmv" target="_blank">

        Introduction to ASP.NET Controls
    </a>
    <a class="list-group-item-video " href="http://download.microsoft.com/download/B/7/C/B7C648B2-29DD-40DC-9E9C-1320AE5E8A45/winvideo-VWD-15-ValidationL.wmv" target="_blank">

        Introduction to Validation Controls
    </a>
    <a class="list-group-item-video " href="http://download.microsoft.com/download/9/1/E/91E4FC07-38B4-4B7D-A494-38DE062FB880/winvideo-VWD-07-Submit_and_Postbackl.wmv" target="_blank">

        Submit and Post back
    </a>
    <a class="list-group-item-video " href="http://download.microsoft.com/download/1/E/0/1E07AABF-07AB-411A-A8F9-FA3205D0CB11/winvideo-VWD-11-CSSl.wmv" target="_blank">

        Introduction to CSS (Cascading Style Sheets)
    </a>
    <a class="list-group-item-video " href="http://download.microsoft.com/download/4/8/8/488881C6-5B7F-469A-BE8F-643DA8DA7CFF/winvideo-VWD-05-LifecycleEventsL.wmv" target="_blank">

        ASP.NET Page Life Cycle Events
    </a>
    <a class="list-group-item-video " href="http://download.microsoft.com/download/0/E/4/0E450D3C-D709-4113-AC74-43A27257E77E/WinVideo-stanfield-linq-to-sql-part1-cs.wmv" target="_blank">

        Linq to SQL
    </a>
    <a class="list-group-item-video " href="http://download.microsoft.com/download/F/D/F/FDFACB01-8315-47BE-BED9-BA04B74EB6FF/WinVideo-stanfield-linq-to-sql-part2.wmv" target="_blank">

        Linq to SQL - Data Model
    </a>
    <a class="list-group-item-video " href="http://download.microsoft.com/download/3/7/7/37799B79-6F8E-4C52-8B20-AC34A49851E6/WinVideo-stanfield-linq-to-sql-part3-cs.wmv" target="_blank">

        Querying Database
    </a>
    <a class="list-group-item-video " href="http://download.microsoft.com/download/F/6/B/F6BD1528-550A-494C-B0B2-B92B20424DCE/WinVideo-stanfield-linq-to-sql-part4-cs.wmv" target="_blank">

        Updating the Database
    </a>
    <a class="list-group-item-video " href="http://download.microsoft.com/download/9/6/b/96b82db2-5cb5-45d1-b90e-9f2cd45f044a/WinVideo-stanfield-linq-to-sql-part5-cs.wmv" target="_blank">

        Working with LinqDataSource
    </a>
    <a class="list-group-item-video " href="http://download.microsoft.com/download/b/a/2/ba27fc07-239d-4f67-b47b-543378ae0016/WinVideo-stanfield-linq-to-sql-part8.wmv" target="_blank">

        Updating Stored Procedures
    </a>
    <a class="list-group-item-video " href="http://download.microsoft.com/download/5/b/3/5b3fb889-6baf-48e6-be6a-c5d827604caa/WinVideo-stanfield-linq-to-sql-part7-cs.wmv" target="_blank">

        Working with Stored Procedures
    </a>
    <a class="list-group-item-video " href="http://mschnlnine.vo.llnwd.net/d1/ch9/2/3/6/0/2/4/creating_your_first_wcf_service.wmv" target="_blank">

        Creating First WCF Service
    </a>
    <a class="list-group-item-video " href="http://mschnlnine.vo.llnwd.net/d1/ch9/6/6/1/1/2/4/configuring_services_with_endpoints.wmv" target="_blank">

        Configuring Services with End Points
    </a>
    <a class="list-group-item-video " href="http://mschnlnine.vo.llnwd.net/d1/ch9/2/7/1/1/2/4/configuring_service_references.wmv" target="_blank">

        Configuring WCF Service References
    </a>
    <a class="list-group-item-video " href="http://mschnlnine.vo.llnwd.net/d1/ch9/7/6/1/1/2/4/hosting_wcf_services_in_iis.wmv" target="_blank">

        Hosting WCF Services in IIS
    </a>
    <a class="list-group-item-video " href="http://mschnlnine.vo.llnwd.net/d1/ch9/8/6/1/1/2/4/self_hosting_wcf_services.wmv" target="_blank">

        Self Hosting WCF Services
    </a>
    <a class="list-group-item-video " href="http://mschnlnine.vo.llnwd.net/d1/ch9/0/7/1/1/2/4/creating_your_first_wcf_client.wmv" target="_blank">

        Creating your first WCF Client
    </a>

    <a class="list-group-item-video " href="http://download.microsoft.com/download/B/A/5/BA57BADE-D558-4693-8F82-29E64E4084AB/HDI-ITPro-MSDN-winvideo-CodeFirstNewDatabase.wmv" target="_blank">

        Code First to a New Database
    </a>
    <a class="list-group-item-video " href="http://video.ch9.ms/ch9/1c1e/88ddb3d5-f916-4626-92a8-2a9e55911c1e/CodeFirstToExistingDatabase_Source.wmv" target="_blank">

        Code First to an Existing Database
    </a>
    <a class="list-group-item-video " href="http://download.microsoft.com/download/5/B/1/5B1C338C-AFA7-4F68-B304-48BB008146EF/HDI-ITPro-MSDN-winvideo-modelfirst.wmv" target="_blank">

        Model First
    </a>
    <a class="list-group-item-video " href="http://download.microsoft.com/download/8/F/0/8F0B5F63-4939-4DC8-A726-FF139B37F8D8/HDI-ITPro-MSDN-winvideo-databasefirst.wmv" target="_blank">

        Database First
    </a>
    <a class="list-group-item-video " href="http://download.microsoft.com/download/9/d/1/9d1137df-4988-4a15-b51d-0465638fc59b/WinVideo-UnderstandingModelsViewAndControllers.wmv" target="_blank">

        Understanding Models, Views, and Controllers
    </a>
    <a class="list-group-item-video " href="http://download.microsoft.com/download/5/C/0/5C01E4E0-BCB2-45E4-972E-D81BA4ADDE50/winvideo-ControllerOverviewl.wmv" target="_blank">

        ASP.NET MVC Controller Overview
    </a>
    <a class="list-group-item-video " href="http://media.ch9.ms/ch9/7292/eaecfb42-8a07-4c23-bea6-00fe30d07292/ASPMVC4M01_high.mp4">
        Introduction to ASP.NET MVC 4 - Microsoft Virtual Academy
    </a>

    <a class="list-group-item-video " href="http://media.ch9.ms/ch9/ed19/2a2d86be-41fa-4255-bdcf-442764bbed19/ASPMVC4M02_high.mp4">
        Developing ASP.NET MVC 4 Models - Microsoft Virtual Academy
    </a>
    <a class="list-group-item-video " href="http://media.ch9.ms/ch9/13f9/d67d6807-15d8-474c-b90e-b3f288f513f9/ASPMVC4M03_high.mp4">
        Developing MVC 4 Controllers - Microsoft Virtual Academy
    </a>
    <a class="list-group-item-video " href="http://media.ch9.ms/ch9/e581/29d52fee-daa2-410b-ac2e-2439ab19e581/ASPMVC4M04_high.mp4">
        Developing ASP.NET MVC 4 Views - Microsoft Virtual Academy
    </a>
    <a class="list-group-item-video " href="http://media.ch9.ms/ch9/4ee3/fb447909-4666-4f2d-9bcb-91f22ae74ee3/ASPMVC4M05_high.mp4">
        Integrating JavaScript and MVC 4 - Microsoft Virtual Academy
    </a>
    <a class="list-group-item-video " href="http://media.ch9.ms/ch9/390d/34d84b0b-941b-4f70-86a8-e5d82cf7390d/ASPMVC4M06_high.mp4">
        Implementing Web APIs - Microsoft Virtual Academy
    </a>
</div>





